<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.gammel.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.zune.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.candy.js"></script>
    <link rel="stylesheet" href="/css/prueba.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <%- include ('../partials/head.html') %>
</head>
<%- include ('../partials/menuplapp.html')%>
<body onload="dateomain()">
  <div class="container mt-5 mb-3">
    <div class="mt-5">
      <div class="row mt-5">
        <div class="col-sm-3 mt-4">
          <div class="card shadow-lg p-3 mb-3 bg-white rounded">
            <div class="card-body">
              <div class="legends">
                <h4 class="text-muted" style="text-align: center;font-size: 16px;line-height: 13px;font-weight: 150;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Avance Cuatrienial Plan Indicativo
                </h4>
              </div>
              <h1 id="porcentaje-pdm" style="text-align: center;font-size: 110px;line-height: 120px;font-weight: 190;color: #73879C;
                font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">
                <strong> 0%</strong> 
              </h1>
             </div>
            </div>
          </div>
          <div class="col-sm-3 mt-4">
            <div class="card shadow-lg p-3 mb-3 bg-white rounded">
              <div class="card-body">
                <div class="legends">
                  <h4 class="text-muted" style="text-align: center;font-size: 16px;line-height: 13px;font-weight: 150;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Cumplimiento Anual P.I.<spam>2020</spam> 
                 </h4> 
              </div>
               <h1 id="porcentaje-pa" style="text-align: center;font-size: 110px;line-height: 120px;font-weight: 190;color: #73879C;
               font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">
                <strong> 0% </strong> 
               </h1>
              </div>
            </div>
          </div>
          <div class="col-sm-3 mt-4">
            <div class="card shadow-lg p-3 mb-3 bg-white rounded">
              <div class="card-body">
                <div class="legends">
                  <h4 class="text-muted" style="text-align: center;font-size: 16px;line-height: 13px;font-weight: 150;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Ejecución Física Plan de Acción  <spam>  2020</spam> 
                 </h4>
              </div>
               <h1 id="porcentaje-pa" style="text-align: center;font-size: 110px;line-height: 120px;font-weight: 190;color: #73879C;
               font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">
                <strong> 0% </strong> 
               </h1>     
              </div>
            </div>
          </div>
          <div class="col-sm-3 mt-4">
            <div class="card shadow-lg p-3 mb-3 bg-white rounded">
              <div class="card-body">
                <div class="legends">
                  <h4 class="text-muted" style="text-align: center;font-size: 14px;line-height: 13px;font-weight: 150;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">POAI 2020
                 </h4>
                 <h1 id="total-poai" class="text14" style="color: #00853E;">
                  <strong>$4.269.754.134.413</strong> 
                 </h1>
                 <h4 class="text-muted" style="text-align: center;font-size: 14px;line-height: 30px;font-weight: 150;color: #73879C;
                 font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Ejecución Agosto 31 de 2020
                </h4>
                <h1 id="total-poai" class="text16" style="color: #00853E;">
                 <strong>$3.552.900.050.905</strong> 
                </h1>
              </div>
               <h1 id="porcentaje-poai" style="text-align: center;font-size: 50px;line-height: 40px;font-weight: 190;color: #73879C;
               font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">
                <strong>83,21% </strong> 
               </h1>
              </div>
            </div>
          </div>
          <div class="col-sm-12 ">
           <div class="row">
              <div class="card-body col-sm-4">
                    <div class="legends">
                      <h4 class="text-muted" style="text-align: center;font-size: 16px;line-height: 13px;font-weight: 150;color: #73879C;
                      font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Indicadores de Resultado
                    </h4>
                  </div>
                  <h1 id="porcentaje-pdm" style="text-align: center;font-size: 50px;line-height: 90px;font-weight: 190;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">
                    <strong> 198 </strong> 
                  </h1>
              </div>

              <div class="card-body col-sm-4">

                    <div class="legends">
                      <h4 class="text-muted" style="text-align: center;font-size: 16px;line-height: 13px;font-weight: 150;color: #73879C;
                      font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Indicadores de Producto
                    </h4>
                  </div>
                  <h1 id="porcentaje-pdm" style="text-align: center;font-size: 50px;line-height: 90px;font-weight: 190;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">
                    <strong> 162</strong> 
                  </h1>
              </div>

              <div class="card-body col-sm-4">

                    <div class="legends">
                      <h4 class="text-muted" style="text-align: center;font-size: 16px;line-height: 13px;font-weight: 150;color: #73879C;
                      font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Total Indicadores
                    </h4>
                  </div>
                  <h1 id="porcentaje-pdm" style="text-align: center;font-size: 50px;line-height: 90px;font-weight: 190;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">
                    <strong> 810 </strong> 
                  </h1>
              </div>

           </div>

          </div>

        </div>
  
    </div>
    
    <div class="mt-2 shadow-lg p-3 mb-3 bg-white rounded">
      <h3>Avance Cuatrienial por Líneas del Plan de Desarrollo</h3>
      <div  id="chart-inicial" style="height: 350px;  width:100%;"></div>
    </div>
    <div class="card-body col-sm-12">
   
  </div>
  
    <div class="shadow-lg p-3 mb-3 bg-white rounded">
        <h3>Avance Cuatrienial por Componentes del Plan de Desarrollo</h3>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" 
                style="text-align: center;font-size: 14px;line-height: 20px;font-weight: 150;color: #73879C;
                font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Reactivación Económica y Valle del Software
            </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#l2" role="tab" aria-controls="l2" aria-selected="true"
                    style="text-align: center;font-size: 14px;line-height: 20px;font-weight: 150;color: #73879C;
                    font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Transformación Educativa y Cultural
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#l3" role="tab" aria-controls="l3" aria-selected="false"
                    style="text-align: center;font-size: 14px;line-height: 20px;font-weight: 150;color: #73879C;
                    font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Medellín me Cuida
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#l4" role="tab" aria-controls="l4" aria-selected="false"
                    style="text-align: center;font-size: 14px;line-height: 20px;font-weight: 150;color: #73879C;
                    font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Ecociudad
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#l5" role="tab" aria-controls="l5" aria-selected="false"
                    style="text-align: center;font-size: 14px;line-height: 20px;font-weight: 150;color: #73879C;
                    font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Gobernanza y Gobernabilidad
                </a>
            </li>
        </ul>
        <div class="tab-content border-light shadow-sm  p-4 mb-4 bg-white rounded" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">  
              <div class="" id="chart-cl1" style="height: 350px;  width:100%;"></div>
                <div class="table-responsive-sm">
                  <table  class="table table-sm table-responsive-sm table-hover" width="1371" style="font-size: small;">
                    <thead>
                      <th style="font-weight: 400; width: 44px; text-align: center;">Cod</th>
                      <th style="font-weight: 400; width: 44px; text-align: center;">Componente</th>
                      <th style="font-weight: 400; width: 44px; text-align: center;">Indicadores</th>
                      <th style="font-weight: 400; width: 44px; text-align: center;">% Avance</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="font-weight: 400; width: 44px; text-align: center;">1.1</td>
                        <td style="font-weight: 400; width: 415px;">Talento Humano y Empleo</td>
                        <td style="font-weight: 400; width: 21px; text-align: center;">20</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="font-weight: 400; width: 44px; text-align: center;">1.2</td>
                        <td style="font-weight: 400; width: 415px;">Ciencia, Tecnolog&iacute;a, Innovaci&oacute;n y Emprendimiento: CTI + E</td>
                        <td style="font-weight: 400; width: 21px; text-align: center;">33</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="font-weight: 400; width: 44px; text-align: center;">1.3</td>
                        <td style="font-weight: 400; width: 415px;">Productividad, competitividad e internacionalizaci&oacute;n</td>
                        <td style="font-weight: 400; width: 21px; text-align: center;">47</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="font-weight: 400; width: 44px; text-align: center;">1.4</td>
                        <td style="font-weight: 400; width: 415px;">Informaci&oacute;n, datos y generaci&oacute;n de valor p&uacute;blico</td>
                        <td style="font-weight: 400; width: 21px; text-align: center;">11</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="font-weight: 400; width: 44px; text-align: center;">1.5</td>
                        <td style="font-weight: 400; width: 415px;">Ingl&eacute;s para Valle del Software</td>
                        <td style="font-weight: 400; width: 21px; text-align: center;">9</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            <div class="tab-pane fade" id="l2" role="tabpanel" aria-labelledby="profile-tab"> 
               <div class="" id="chart-cl2" style="height: 350px;  width:100%;"></div>
               <div class="table-responsive-sm">
                <table  class="table table-sm table-responsive-sm table-hover" width="1371" style="font-size: small;">
                    <thead>
                        <th style="font-weight: 400; width: 44px; text-align: center;">Cod</th>
                        <th style="font-weight: 400; width: 44px; text-align: center;">Componente</th>
                        <th style="font-weight: 400; width: 44px; text-align: center;">Indicadores</th>
                        <th style="font-weight: 400; width: 44px; text-align: center;">% Avance</th>
                    </thead>
                    <tbody>
                    <tr>
                    <td style="font-weight: 400; width: 23px; text-align: center;">2.1</td>
                    <td style="font-weight: 400; width: 395px;">Buen Comienzo</td>
                    <td style="font-weight: 400; width: 18px; text-align: center;">12</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td style="font-weight: 400; width: 23px; text-align: center;">2.2</td>
                    <td style="font-weight: 400; width: 395px;">Transformaci&oacute;n Curricular para la Cuarta revoluci&oacute;n Industrial</td>
                    <td style="font-weight: 400; width: 18px; text-align: center;">20</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td style="font-weight: 400; width: 23px; text-align: center;">2.3</td>
                    <td style="font-weight: 400; width: 395px;">Educaci&oacute;n para todos y todas</td>
                    <td style="font-weight: 400; width: 18px; text-align: center;">29</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td style="font-weight: 400; width: 23px; text-align: center;">2.4</td>
                    <td style="font-weight: 400; width: 395px;">Maestros/as: L&iacute;deres de Futuro</td>
                    <td style="font-weight: 400; width: 18px; text-align: center;">9</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td style="font-weight: 400; width: 23px; text-align: center;">2.5</td>
                    <td style="font-weight: 400; width: 395px;">Infraestructura y ambientes de aprendizaje</td>
                    <td style="font-weight: 400; width: 18px; text-align: center;">11</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td style="font-weight: 400; width: 23px; text-align: center;">2.6</td>
                    <td style="font-weight: 400; width: 395px;">Investigaci&oacute;n, creaci&oacute;n y apropiaci&oacute;n de saberes</td>
                    <td style="font-weight: 400; width: 18px; text-align: center;">8</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td style="font-weight: 400; width: 23px; text-align: center;">2.7</td>
                    <td style="font-weight: 400; width: 395px;">Cultura, arte y memoria</td>
                    <td style="font-weight: 400; width: 18px; text-align: center;">28</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td style="font-weight: 400; width: 23px; text-align: center;">2.8</td>
                    <td style="font-weight: 400; width: 395px;">Cultura ciudadana</td>
                    <td style="font-weight: 400; width: 18px; text-align: center;">12</td>
                    <td></td>
                    </tr>
                    </tbody>
                 </table>
               </div> 
            </div>
            <div class="tab-pane fade" id="l3" role="tabpanel" aria-labelledby="contact-tab">
              <div class="" id="chart-cl3" style="height: 350px;  width:100%;"></div>
              <div class="table-responsive-sm">
              <table  class="table table-sm table-responsive-sm table-hover" width="1371" style="font-size: small;">
                <thead>
                  <th style="font-weight: 400; width: 44px; text-align: center;">Cod</th>
                  <th style="font-weight: 400; width: 44px; text-align: center;">Componente</th>
                  <th style="font-weight: 400; width: 44px; text-align: center;">Indicadores</th>
                  <th style="font-weight: 400; width: 44px; text-align: center;">% Avance</th>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-weight: 400; text-align: center; width: 23px;">3.1</td>
                    <td style="font-weight: 400; width: 314px;">Comunidades, cuerpos y mentes saludables</td>
                    <td style="font-weight: 400; text-align: center; width: 19px;">53</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: 400; text-align: center; width: 23px;">3.2</td>
                    <td style="font-weight: 400; width: 314px;">Juventudes</td>
                    <td style="font-weight: 400; text-align: center; width: 19px;">36</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: 400; text-align: center; width: 23px;">3.3</td>
                    <td style="font-weight: 400; width: 314px;">Mujeres</td>
                    <td style="font-weight: 400; text-align: center; width: 19px;">29</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: 400; text-align: center; width: 23px;">3.4</td>
                    <td style="font-weight: 400; width: 314px;">Recuperemos lo Social</td>
                    <td style="font-weight: 400; text-align: center; width: 19px;">76</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
            <div class="tab-pane fade" id="l4" role="tabpanel" aria-labelledby="contact-tab">
              <div class="" id="chart-cl4" style="height: 350px;  width:100%;"></div>
              <div class="table-responsive-sm">
              <table  class="table table-sm table-responsive-sm table-hover" width="1371" style="font-size: small;">
                <thead>
                  <th style="font-weight: 400; width: 44px; text-align: center;">Cod</th>
                  <th style="font-weight: 400; width: 44px; text-align: center;">Componente</th>
                  <th style="font-weight: 400; width: 44px; text-align: center;">Indicadores</th>
                  <th style="font-weight: 400; width: 44px; text-align: center;">% Avance</th>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-weight: 400; width: 37px; text-align: center;">4.1</td>
                    <td style="font-weight: 400; width: 576px;">Movilidad sostenible e inteligente</td>
                    <td style="font-weight: 400; width: 32px; text-align: center;">45</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: 400; width: 37px; text-align: center;">4.2</td>
                    <td style="font-weight: 400; width: 576px;">Servicios p&uacute;blicos, energ&iacute;as alternativas y aprovechamiento de residuos s&oacute;lidos</td>
                    <td style="font-weight: 400; width: 32px; text-align: center;">25</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: 400; width: 37px; text-align: center;">4.3</td>
                    <td style="font-weight: 400; width: 576px;">Conservaci&oacute;n y protecci&oacute;n de todas las formas de vida</td>
                    <td style="font-weight: 400; width: 32px; text-align: center;">28</td>
                    <td></td>
                  </tr>
                  <tr>
                  <td style="font-weight: 400; width: 37px; text-align: center;">4.4</td>
                  <td style="font-weight: 400; width: 576px;">Urbanismo ecol&oacute;gico</td>
                  <td style="font-weight: 400; width: 32px; text-align: center;">56</td>
                  <td></td>
                  </tr>
                  <tr>
                  <td style="font-weight: 400; width: 37px; text-align: center;">4.5</td>
                  <td style="font-weight: 400; width: 576px;">Corregimientos y Desarrollo rural sostenible</td>
                  <td style="font-weight: 400; width: 32px; text-align: center;">15</td>
                  <td></td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="l5" role="tabpanel" aria-labelledby="contact-tab">
              <div class="" id="chart-cl5" style="height: 350px;  width:100%;"></div>
              <div class="table-responsive-sm">
              <table  class="table table-sm table-responsive-sm table-hover" width="1371" style="font-size: small;">
                <thead>
                  <th style="font-weight: 400; width: 44px; text-align: center;">Cod</th>
                  <th style="font-weight: 400; width: 44px; text-align: center;">Componente</th>
                  <th style="font-weight: 400; width: 44px; text-align: center;">Indicadores</th>
                  <th style="font-weight: 400; width: 44px; text-align: center;">% Avance</th>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-weight: 400; width: 31px; text-align: center;">5.1</td>
                    <td style="font-weight: 400; width: 475px;">Gobierno Transparente</td>
                    <td style="font-weight: 400; width: 25px; text-align: right;">32</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: 400; width: 31px; text-align: center;">5.2</td>
                    <td style="font-weight: 400; width: 475px;">Paz, v&iacute;ctimas y justicia</td>
                    <td style="font-weight: 400; width: 25px; text-align: right;">33</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: 400; width: 31px; text-align: center;">5.3</td>
                    <td style="font-weight: 400; width: 475px;">Seguridades</td>
                    <td style="font-weight: 400; width: 25px; text-align: right;">43</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: 400; width: 31px; text-align: center;">5.4</td>
                    <td style="font-weight: 400; width: 475px;">Participaci&oacute;n</td>
                    <td style="font-weight: 400; width: 25px; text-align: right;">34</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: 400; width: 31px; text-align: center;">5.5</td>
                    <td style="font-weight: 400; width: 475px;">Planeaci&oacute;n, articulaci&oacute;n y fortalecimiento territorial</td>
                    <td style="font-weight: 400; width: 25px; text-align: right;">40</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: 400; width: 31px; text-align: center;">5.6</td>
                    <td style="font-weight: 400; width: 475px;">Comunicaciones</td>
                    <td style="font-weight: 400; width: 25px; text-align: right;">16</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
   </div>

     <div class="accordion shadow-lg p-3 mb-3 bg-white rounded" id="accordionExample">

      <div class="card">
        <div class="card-header" id="heading1">
          <h2 class="mb-0">
            <a class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
              <h4 style="text-align: center;font-size: 24px;line-height: 20px;font-weight: 150;color: #73879C;
              font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Estructura del Plan Plurianual de Inversiones </h4>
            </a>
          </h2>
        </div>
        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
          <div class="card-body">
              <div class="table-responsive-sm">
                <table  class="table table-sm table-responsive-sm table-hover" width="1371" style="font-size: small;">
                  <thead>
                    <tr>
                      <th width="799">L&iacute;nea / Componente </th>
                      <th width="428">Inversi&oacute;n (2020-2023)</th>
                      <th width="344">Part (%)</th>
                    </tr>
                  </thead>
                 <tbody>
                  <tr>
                    <th colspan="2" width="799">TOTAL PLAN PLURIANUAL</th>
                    <th  width="772">$20.816.291</th>
                  </tr>
                 <tr>
                   <tr>
                    <th width="599">1. REACTIVACI&Oacute;N ECON&Oacute;MICA Y VALLE DEL SOFTWARE</th>
                    <th width="428">$1.174.118</th>
                    <th width="344">5,60%</th>
                   </tr>
                 </tr>
                 <tr>
                    <td width="599">1.1 Talento Humano y empleo</td>
                    <td width="428">$223.187</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">1.2 Ciencia, Tecnolog&iacute;a, Innovaci&oacute;n y Emprendimiento: CTI + E</td>
                    <td width="428">$338.609</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">1.3 Productividad, competitividad e internacionalizaci&oacute;n</td>
                    <td width="428">$172.260</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">1.4 Informaci&oacute;n, datos y generaci&oacute;n de valor p&uacute;blico</td>
                    <td width="428">$421.400</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">1.5 Ingl&eacute;s para Valle del Software</td>
                    <td width="428">$18.662</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <th width="599">2. TRANSFORMACI&Oacute;N EDUCATIVA Y CULTURAL</th>
                    <th width="428">$6.248.042</th>
                    <th width="344">30,00%</th>
                 </tr>
                 <tr>
                    <td width="599">2.1 Buen Comienzo</td>
                    <td width="428">$832.882</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">2.2 Transformaci&oacute;n Curricular para la Cuarta Revoluci&oacute;n Industrial</td>
                    <td width="428">$195.418</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">2.3 Educaci&oacute;n para todos</td>
                    <td width="428">$1.285.358</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">2.4 Maestros/as: L&iacute;deres de Futuro</td>
                    <td width="428">$2.538.401</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">2.5 Infraestructura y ambientes de aprendizaje</td>
                    <td width="428">$1.034.280</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">2.6 Investigaci&oacute;n, creaci&oacute;n y apropiaci&oacute;n de saberes</td>
                    <td width="428">$14.019</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">2.7 Cultura, arte y memoria</td>
                    <td width="428">$329.763</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">2.8 Cultura ciudadana</td>
                    <td width="428">$17.922</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <th width="599">3. MEDELL&Iacute;N ME CUIDA</th>
                    <th width="428">$5.221.207</th>
                    <th width="344">25,10%</th>
                 </tr>
                 <tr>
                    <td width="599">3.1 Comunidades, cuerpos y mentes saludables</td>
                    <td width="428">$3.633.809</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">3.2 Juventudes</td>
                    <td width="428">$61.042</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">3.3 Mujeres</td>
                    <td width="428">$44.274</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">3.4 Recuperemos lo social</td>
                    <td width="428">$1.482.082</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <th width="599">4. ECOCIUDAD</th>
                    <th width="428">$4.484.124</th>
                    <th width="344">21,50%</th>
                 </tr>
                 <tr>
                    <td width="599">4.1 Movilidad sostenible e inteligente</td>
                    <td width="428">$1.942.695</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                    <td width="599">4.2 Servicios p&uacute;blicos, energ&iacute;as alternativas y aprovechamiento de residuos s&oacute;lidos</td>
                    <td width="428">$1.016.713</td>
                    <td width="344">100,00%</td>
                 </tr>
                 <tr>
                  <td width="599">4.3 Conservaci&oacute;n y protecci&oacute;n de todas las formas de vida</td>
                  <td width="428">$189.800</td>
                  <td width="344">100,00%</td>
                 </tr>
                 <tr>
                  <td width="599">4.4 Urbanismo ecol&oacute;gico</td>
                  <td width="428">$1.282.077</td>
                  <td width="344">100,00%</td>
                 </tr>
                 <tr>
                  <td width="599">4.5 Corregimientos y Desarrollo rural sostenible</td>
                  <td width="428">$52.838</td>
                  <td width="344">100,00%</td>
                 </tr>
                 <tr>
                  <th width="599">5. GOBERNANZA Y GOBERNABILIDAD</th>
                  <th width="428">$2.721.240</th>
                  <th width="344">13,10%</th>
                 </tr>
                 <tr>
                 <td width="599">5.1 Gobierno Transparente</td>
                 <td width="428">$1.002.453</td>
                 <td width="344">100,00%</td>
                 </tr>
                 <tr>
                 <td width="599">5.2 Paz, v&iacute;ctimas y justicia</td>
                 <td width="428">$202.228</td>
                 <td width="344">100,00%</td>
                 </tr>
                 <tr>
                 <td width="599">5.3 Seguridades</td>
                 <td width="428">$862.180</td>
                 <td width="344">100,00%</td>
                 </tr>
                 <tr>
                 <td width="599">5.4 Participaci&oacute;n</td>
                 <td width="428">$74.224</td>
                 <td width="344">100,00%</td>
                 </tr>
                 <tr>
                 <td width="599">5.5 Planeaci&oacute;n, articulaci&oacute;n y fortalecimiento territorial</td>
                 <td width="428">$524.084</td>
                 <td width="344">100,00%</td>
                 </tr>
                 <tr>
                 <td width="599">5.6 Comunicaciones</td>
                 <td width="428">$56.071</td>
                 <td width="344">100,00%</td>
                 </tr>
                 <tr>
                 <th width="599">PRESUPUESTO PARTICIPATIVO</th>
                 <th width="428">$967.559</th>
                 <th width="344">4,70%</th>
                 </tr>
                </tbody>
             </table> 
             </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading2">
          <h2 class="mb-0">
            <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
              <h4 style="text-align: center;font-size: 24px;line-height: 20px;font-weight: 150;color: #73879C;
              font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Ejecución Financiera</h4>
            </a>
          </h2>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">       
          <div class="row">
            <div class=" col-lg-12 card-body shadow-lg p-3 mb-3 bg-white rounded" style=" display: flex; align-items: center;justify-content: center;">
              <div class="col-md-6">
                <h4 class="text-muted" style="text-align: center;font-size: 24px;line-height: 10px;font-weight: 150;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Total Plan
                </h4>
                <h4 class="text-muted" style="text-align: center;font-size: 18px;line-height: 20px; font-weight: 250;color: #73879C;
                   font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">$20.816.291
                </h4><br>
                <h4 class="text-muted" style="text-align: center;font-size: 24px;line-height: 10px;font-weight: 150;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Total Acumulado
                </h4>
                <h4 class="text-muted" style="text-align: center;font-size: 16px;line-height: 10px;font-weight: 150;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">$4.268.854
                </h4><br>
                <h4 class="text-muted" style="text-align: center;font-size: 24px;line-height: 10px;font-weight: 150;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Vigencia Actual
                </h4>
                <h4 class="text-muted" style="text-align: center;font-size: 16px;line-height: 10px;font-weight: 150;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">$2.721.550
                </h4> <br>
                <h4 class="text-muted" style="text-align: center;font-size: 14px;line-height: 10px;font-weight: 150;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">(cifras en miles de pesos)
                </h4>

                    
              </div>
              <div id="chart-inversion" class="col-md-6 " style="height:350px; width: 150px;" ></div>
            </div>
            <div class=" col-lg-12 card-body shadow-lg p-3 mb-3 bg-white rounded" style=" display: flex; align-items: center;justify-content: center;">
              <div class="row ">
                <div class="col-lg-6" style=" display: flex; align-items: center;justify-content: center;">
                  <div class="card border-0">  
                    <div id="chart-pa" style="width: 100%; height: 300px;" class="col-md-6"></div>
                  </div>
                </div>
                <div class="col-lg-6" style=" display: flex; align-items: center;justify-content: center;">
                  <div class="card border-0">
                    <div class="table-responsive-sm" >
                      <table  class="table table-sm table-responsive-sm table-hover" width="100%" style="font-size: small;">
                        <thead>
                          <tr>
                            <th colspan="2">Vigencia actual</th>
                            <th id="corte_vigencia">Junio 30 de 2020</th>
                          </tr>
                          <tr>
                            <th style="text-align: center;">Ppto. Inicial</th>
                            <th style="text-align: center;">Ppto. Ajustado</th>
                            <th style="text-align: center;">Ordenado</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td style="text-align: right;" scope="row">$1.345.908</td>
                            <td style="text-align:right;" >$234.567</td>
                            <td style="text-align:right;">$345.987</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="3">Cifras en miilones de pesos</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>    
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-12 card-body shadow-lg p-3 mb-3 bg-white rounded" style=" display: flex; align-items: center;justify-content: center;">
              <div class="row">
                <div class="col-lg-12">
                   <div class="card border-0">
                    <div class="" id="chart-detalleppto" style="width: 100%; height: 400px;" ></div>
                  </div>
                </div>
                <div class="col-lg-12" style=" display: flex; align-items: center;justify-content: center;">
                  <div class="card border-0">
                    <div class="table-responsive-sm" >
                      <table  class="table table-sm table-responsive-sm table-hover" width="100%" style="font-size: small;">
                        <thead>
                          <tr>
                            <th colspan="3">Vigencia actual</th>
                            <th id="corte_vigencia">Junio 30 de 2020</th>
                          </tr>
                          <tr>
                            <th style="text-align: center;">Ordenado</th>
                            <th style="text-align: center;">Compromisos</th>
                            <th style="text-align: center;">Disponible</th>
                            <th style="text-align: center;">Total</th>
                          </tr>
                        </thead>
                        <tbody style="text-align: right;">
                          <tr>
                            <td style="text-align: right;" scope="row">$4.915.670</td>
                            <td style="text-align: right;">$190.174</td>
                            <td style="text-align: right;">$472.789</td>
                            <td style="text-align: right;">$5.579.022</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="4">Cifras en miilones de pesos</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
             </div>
          </div>
        </div>

      </div>

      <div class="card">
        <div class="card-header" id="heading3">
          <h2 class="mb-0">
            <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
              <h4 style="text-align: center;font-size: 24px;line-height: 20px;font-weight: 150;color: #73879C;
              font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Generalidades Plan de Acción </h4>
            </a>
          </h2>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
                <div class="row">
                      <div class="col-lg-12">

                        <div class="card border-0">
                          <div id="chart-paxdep" style="height: 650px;  width:100%;"></div>
                          </div>
                        
                      </div>

                      <div class="col-lg-12" style=" display: flex; align-items: center;justify-content: center;">
                        <div class="card border-0">
                          <div id="chart-paxmetafisica" style="height: 350px;  width:100%;"></div>
                        
                        </div>
                      </div>
                    </div>  
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="heading4">
          <h2 class="mb-0">
            <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
              <h4 style="text-align: center;font-size: 24px;line-height: 20px;font-weight: 150;color: #73879C;
              font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Proyectos Estratégicos</h4>
            </a>
          </h2>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
                <div class="row">
                      <div class="col-lg-12">

                        <div class="card border-0">
                          <div class="" id="chart-projectstrategic"  style=" width: 100%; height: 570px; " ></div>
                          </div>
                        
                      </div>

                    </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="heading5">
          <h2 class="mb-0">
            <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
              <h4 style="text-align: center;font-size: 24px;line-height: 20px;font-weight: 150;color: #73879C;
              font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Generalidades Inversión Pública por Comunas y Corregimientos </h4>
            </a>
          </h2>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
        <div class="" id="chart-geo"  style=" width: 100%; height: 370px; " ></div>
        </div>
      </div>

      <div id="map" style=" width: 100%; height: 764px; "></div>
    </div>

  </div> 
    
</body>
<%- include ('../partials/scriptsHome.html')%>
<script src="/js/dateo.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
</html>



