
<%- include ('../partials/head.html') %>
<%- include ('../partials/navigation.html')%>
<%- include ('../partials/scriptsHome.html')%>
<%- include ('../partials/menuplapp.html')%>


    

<div class="card-deck mt-1">
           
    <section class=" card shadow-sm  border-light">
      <p class="lead"><a href="http://localhost:5000/" > Inversión Pública  </a> <br>  POAI-2020  <br> $4.268.854.134.413,00</p>
      <div class="card-body">
          <div id="chart-container"></div>
      </div>
    </section>



    <section class=" card border-light" >
      <p class="lead">Ejecución del Plan de Acción</p>
      <div class="card-body" style="display: flex; align-items: center;min-height: 1vh;">

         <h4 id="totalVIgencia"class="text-muted lead" style="text-align: center;font-size: 100px;line-height: 28px;font-weight: 600;color: #73879C;
         font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">98%
       </h4>
       
   
      </div>
    </section>

    
     



    <section class=" card border-light " >
      <div id="canvas-pa1" style="height: 355px;  width:100%;"></div>
      <div class="card-body" style="display: flex; align-items: center;min-height: 1vh;">
      <div id="chart-pa"style="height: 270px;width: 100%;"></div>
    </div>
  </section>
   


 




</div>

<nav class="main-menu">
  <ul>
      <li>
          <a href="http://justinfarrow.com">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                  Dashboard
              </span>
          </a>
        
          
      </li>
      <li class="has-subnav">
          <a href="#">
              <i class="fa fa-laptop fa-2x"></i>
              <span class="nav-text">
                  Stars Components
              </span>
          </a>
          
      </li>
      <li class="has-subnav">
          <a href="#">
             <i class="fa fa-list fa-2x"></i>
              <span class="nav-text">
                  Forms
              </span>
          </a>
          
      </li>
      <li class="has-subnav">
          <a href="#">
             <i class="fa fa-folder-open fa-2x"></i>
              <span class="nav-text">
                  Pages
              </span>
          </a>
         
      </li>
      <li>
          <a href="#">
              <i class="fa fa-bar-chart-o fa-2x"></i>
              <span class="nav-text">
                  Graphs and Statistics
              </span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fa fa-font fa-2x"></i>
              <span class="nav-text">
                 Quotes
              </span>
          </a>
      </li>
      <li>
         <a href="#">
             <i class="fa fa-table fa-2x"></i>
              <span class="nav-text">
                  Tables
              </span>
          </a>
      </li>
      <li>
         <a href="#">
              <i class="fa fa-map-marker fa-2x"></i>
              <span class="nav-text">
                  Maps
              </span>
          </a>
      </li>
      <li>
          <a href="#">
             <i class="fa fa-info fa-2x"></i>
              <span class="nav-text">
                  Documentation
              </span>
          </a>
      </li>
  </ul>

  <ul class="logout">
      <li>
         <a href="#">
               <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                  Logout
              </span>
          </a>
      </li>  
  </ul>
</nav>
