<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">

        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.gammel.js"></script>
        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.zune.js"></script>
        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.candy.js"></script>

        <%- include ('../partials/head.html') %>
    </head>
    <%- include ('../partials/menuplapp.html')%>
    <body onload="indi(3)">
        <div id="container" class="container-fluid mt-4 mb-2">

            <div class="row">
                <div class="col-sm-12 mt-5">
                    <div class="card shadow-lg p-1 mb-3 bg-white rounded">
                        <div class="card-body">     
                            <h1 class="text-muted" style="text-align: center;">Medellín me Cuida</h1>
                        </div>
                    </div>
                </div>
            </div>
            
            <%- include ('../partials/rangos.html') %>  
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="card shadow-lg p-3 mb-3 bg-white rounded">
                        <div class="card-body">
                            <h4 class="text-muted text18" >Avance Cuatrienial Línea <spam id="num_linea"></spam> - (2020-2023)</h4>
                            <div class="mt-lg-3" id="avance-indicador" style="height: 280px;  width:100%;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card shadow-lg p-3 mb-3 bg-white rounded">
                        <div class="card-body">
                            <h4 class="text-muted text18" >Total Indicadores de Producto por Estado de Cumplimiento</h4>
                            <div class="mt-lg-3" id="chart-alerta" style="height: 250px;  width:100%;"></div>
                        </div>
                    </div>   
                </div>

                <div class="col-sm-4">
                    <div class="card shadow-lg p-3 mb-3 bg-white rounded">
                        <div class="card-body">                   
                            <h4 class="text-muted text18" >Ejecución presupuestal
                            </h4>
                            <div class="mt-lg-3" id="ejecucion-pptal" style="height: 280px;  width:100%;"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-12 ">
                    <div class="card shadow-lg p-3 mb-3 bg-white rounded">
                        <div class="row">
                            <div class="card-body col-sm-8">
                                <h4 class="text-muted text4Title">Propósito</h4>
                                <p class="text14left" style="text-align: justify;">
                                    Promover, crear, renovar y garantizar las condiciones básicas sociales y culturales que les permitan a 
                                los ciudadanos de Medellín en sus diferentes cursos de vida tener las capacidades para desarrollar su 
                                potencial humano e individual y contribuir desde sus posibilidades a la creación de entornos sociales y 
                                comunitarios saludables, seguros, creativos y sostenibles.
                                </p>
                            </div>
                            <div class="card-body col-sm-4">
                                <div class="table-responsive " style=" overflow-y: auto; font-size: 25px;">
                                    <table class="table table-striped  table-responsive-lg  table-inverse table-hover ">
                                        <thead class="thead-inverse">
                                            <tr>
                                                <th  style="text-align: center;font-size: 16px;">Total Indicadores</th>
                                                <th  style="text-align: center;font-size: 16px;">Componentes</th>
                                                <th  style="text-align: center;font-size: 16px;" >Programas</th>
                                            </tr>
                                        </thead>
                                        <tbody style="font-size: 25px;">
                                            <tr>
                                                <td style="text-align: center;font-size: 14px;" scope="row">194</td>
                                                <td style="text-align: center;font-size: 14px;" >4</td>
                                                <td style="text-align: center;font-size: 14px;" >21</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 ">
                    <div class="row">
                        <div class="card-body col-sm-6">
                            <div class="table-responsive " style=" overflow-y: auto;">
                                <table  class="table table-sm table-responsive-sm table-hover" width="1371" style="font-size: small;">
                                    <thead >
                                        <tr>
                                            <th class="encabezadoTabla">#</th>
                                            <th class="encabezadoTabla">Cod_Dep</th>
                                            <th class="encabezadoTabla">Dependencia</th>
                                            <th class="encabezadoTabla">Indicadores</th>
                                            <th class="encabezadoTabla">Avance</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_responsables"></tbody>
                                </table>
                            </div>
                        </div>  
                        <div class="card-body col-sm-6">
                            <div class="mt-lg-3" id="cumplimiento-linea-dep" style="height: 400px;  width:100%; font-size: small";></div>
                        </div>
                       
                    </div>
                </div>

            </div>  
            
              
            
                
            <div class="mt-2 shadow-lg p-3 mb-3 bg-white rounded">
                <h5 class="text-muted text4Title">Comportamiento Componentes</h5><br>
                <div  id="linea-componente" style="height: 270px;width: 100%;"></div>
                <div class="table-responsive-sm">
                    <table  class="table table-sm table-responsive-sm table-hover" width="1371" style="font-size: small;">
                        <thead>
                            <th style="font-weight: 400; width: 44px; text-align: center;">Cod</th>
                            <th style="font-weight: 400; width: 44px; text-align: center;">Componente</th>
                            <th style="font-weight: 400; width: 44px; text-align: center;">Indicadores</th>
                            <th style="font-weight: 400; width: 44px; text-align: center;">% Avance</th>
                          </thead> 
                          <tbody id="tbl_comp"></tbody>
                    </table>
                </div>
            </div>
            

            <div class="col-md-12 mt-2 shadow-lg p-3 mb-3 bg-white rounded">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-muted text4Title">Comportamiento Programas</h5>
                        <div  id="linea-programa" style="height: 450px;width: 100%;"></div>
                    </div>
               
                    <div class="col-md-6">
                         <div class="table-responsive-sm">
                            <table  class="table table-sm table-responsive-sm table-hover" width="1371" style="font-size: small;">
                                <thead class="thead-inverse">
                                    <th style="font-weight: 400; width: 44px; text-align: center;">Cod</th>
                                    <th style="font-weight: 400; width: 44px; text-align: center;">Programa</th>
                                    <th style="font-weight: 400; width: 44px; text-align: center;">Indicadores</th>
                                    <th style="font-weight: 400; width: 44px; text-align: center;">% Avance</th>
                                </thead>
                                <tbody id="tbl_programa"> </tbody>
                            </table>
                        </div>
                    </div>

                </div>
              
              
            </div>


            <div class="mt-2 shadow-lg p-3 mb-3 bg-white rounded">
                <h5 class="text-muted text4Title row justify-content-center align-items-center minh-100">Tabla Comportamiento Indicadores de producto de la línea  <span id="num_linea_tbl_ind"></span></h5>
                <table id="example" class="table table-striped table-bordered table-sm " style="font-size: small;" width="100%"></table>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><i class="fa fa-clock-o fa-2x" ></i> No programado</th>
                                <th><i class="fa fa-times-circle fa-2x"style="color: #ff6b6b;"></i> Bajo</th>
                                <th><i class="fa fa-minus-circle fa-2x" style="color: #ff922b;"></i> Medio</th>
                                <th><i class="fa fa-check-circle fa-2x" style="color: #51cf66;"></i >Alto</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        
       
            
        </div>
        
        <%- include ('../partials/scriptsHome.html')%>
        <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="/js/lineagraph.js"></script>
        
    </body>

</html>



