
<!DOCTYPE html>
<html lang="es">
  <head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="chart created using amCharts live editor" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
  

  
  
    <title> <%= title %> </title>
    <%- include ('../partials/head.html') %>
  </head>

<body onload="vigencia()">
    <div id="container" >

      <div id="container" class="row">

        <div class="form-group col-xl-12">
          <div class="card shadow p-2 mb-1 bg-white rounded">
            <div class="card-body ">
              <h6 class="text-muted" style="text-align: center;font-size: 20px;line-height: 20px;font-weight: 200;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">
                <p style="align-items: center;"> <img src="/img/logo.png" style="width: 5%;" alt=""></p>Total
                Inversión Pública Municipio de Medellín
              </h6>
              <p class="text-muted" style="text-align: center;font-size: 18px;line-height: 18px;font-weight: 600;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Comunas y Corregimientos
              </p>
              <h4 id="totalVIgencia"class="text-muted" style="text-align: center;font-size: 28px;line-height: 28px;font-weight: 600;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">
              </h4>
              </h4>
              <h6 id="vigencia" class="text-muted" style="text-align: center;font-size: 18px;line-height: 20px;font-weight: 600;color: #73879C;
                  font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">
          
              </h6>
            </div>
          </div>
        </div>

        <div class="form-group col-xl-6">
          <div class="card shadow p-3 bg-white rounded">
            <div class="input-group col-12">
              <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                <!--traer de una una consulta los años-->
                <option selected value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
              </select>
              
              <div class="input-group-append">
                <button class="btn btn-info btn-block" style="font-size: xx-small;" type="button"> <i
                    class="fa fa-calendar" style="color:#FFFFFF; width:60px; height:20px; font-size: small;"
                    aria-hidden="true" onclick=" buscar_vigencia()"> Consultar</i></button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-xl-6 ">
          <div class="col-sm-12 card-body input-group justify-content-end">
            <button type="button" class="btn btn-outline-info mr-2"><i class="fa fa-caret-square-o-right fa-1x" style="width: 20px; height: 20px;"></i>  </button>
            <button type="button" class="btn btn-outline-danger mr-2"> <i class="fa fa-file-pdf-o fa-1x" style="width: 20px; height: 20px;"></i></button>
            <button type="button" class="btn btn-outline-info mr-2"><i class="fa fa-file-excel-o fa-1x" style="width: 20px; height: 20px;" aria-hidden="true"></i></button>         
          </div>
        </div>

        
        <div class="form-group col-xl-6 ">

          <div class="card text-center ">
            <div class="card-body">
              <div class="card-deck ">
                <div class="card border-light shadow-sm p-3 mb-4 bg-white rounded">
                  <div class="card-body ">
                    <h3 class="card-title cardheader" style="color: #73879C;">Inversión Localizada</h3>
                    <h5  id="inverLocalizada" style="color: rgb(17, 160, 41);" id="vigenciaLocal" class="card-text total"> <b> </b></h5>
                    <button type="button" class="btn btn-outline-info mr-2">
                      <i class="fa fa-bar-chart fa-1x" style="width: 20px; height: 20px;" aria-hidden="true"></i>
                    </button>       
                  </div>
                </div>
                <div class="card border-light shadow-sm p-3 mb-4 bg-white rounded">
                  <div class="card-body ">
                    <h3 class="card-title cardheader" style="color: #73879C;">Inversión de Ciudad</h3>
                    <h5 id="inverCiudad"  style="color: rgb(17, 160, 41);" id="vigenciaLocal" class="card-text total"> <b> </b></h5>
                    <button type="button" class="btn btn-outline-info mr-2">
                      <i class="fa fa-bar-chart fa-1x" style="width: 20px; height: 20px;" aria-hidden="true"></i>
                    </button>  
                  </div>
                </div>

              </div>


              <div class="card-deck ">
                <div class="card border-light  shadow-sm p-3 mb-4 bg-white rounded">
                  <div class="card-body ">
                
                    <h3 class="card-title cardheader" style="color: #73879C;">Presupuesto Participativo</h3>
                    <h5 id="pp" style="color: rgb(17, 160, 41);" id="vigenciaLocal" class="card-text total"> <b></b></h5>
                    <button type="button" class="btn btn-outline-info mr-2">
                      <i class="fa fa-bar-chart fa-1x" style="width: 20px; height: 20px;" aria-hidden="true"></i>
                    </button>  
                  </div>
                  
                </div>
                <div class="card border-light shadow-sm p-3 mb-4 bg-white rounded">
                  <div class="card-body ">
                      <h3 class="card-title cardheader" style="color: #73879C;"> Fortalecimiento Institucional</h3>
                    <h5 id="fortInst" style="color: rgb(17, 160, 41);" id="vigenciaLocal" class="card-text total"> <b> </b></h5>
                    <button type="button" class="btn btn-outline-info mr-2">
                      <i class="fa fa-bar-chart fa-1x" style="width: 20px; height: 20px;" aria-hidden="true"></i>
                    </button>  
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 shadow p-3 mb-5 bg-white rounded">
            <section class="cardcontainer card border-light mt-2">
              <div class="card-deck">
                <div class="card text-center">
                  <div class="card border-light">
                    <!--Inicia sección con la gráfica de los tres tipos de inversión pública en el cuatrienio-->
                    <div class="card-body">
                      <div id="chartdiv_comunas_vigencia" style=" width: 90%; height: 340px; "></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="cardcontainer card border-light mt-2">
              <div class="card border-light">
                <div class="card-body">

                 colocar la grafica por total inversión de cada dependnedica
                </div>

              </div>

            </section>

            <section class="cardcontainer card border-light mt-2">
              <div class="row col-xl-12">
                <div class="col-xl-6">
                  <div class="card text-center card border-light">
                    <!--Inicia sección con la gráfica de los tres tipos de inversión pública en el cuatrienio-->
                    <div class="card-body">
                      <div id="chartdiv_total2008_2011" style="width: 100%; height: 300px; background-color: #FFFFFF;">
                       esta puede ir arriba mostrando la grafica semidona con los % de casda inversión
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">

                 <div class="card text-center card border-light">
                    <!--Inicia sección con la gráfica de los tres tipos de inversión pública en el cuatrienio-->
                    <div class="card-body">
                        <div class="table-responsive-sm">
                        <table class="table table-hover table-sm">
                          <thead>
                            <tr >
                              <th colspan="4" >Inversión Pública por Comunas y Corregimientos</th>
                              <th id="vig_tabla" ></th>
                            </tr>
                            <tr>
                              <th style="text-align: center;"scope="col">#</th>
                              <th style="text-align: center;" scope="col">Localizada</th>
                              <th style="text-align: center;" scope="col">Ciudad</th>
                              <th style="text-align: center;" scope="col">PP</th>
                              <th style="text-align: center;" scope="col">Total</th>
                            </tr>
                          </thead>
                          <tbody id="resultado">
                         
                          
                          </tbody>
                        </table>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>


        <div class="col-xl-6 shadow p-3 mb-5 bg-white rounded">
          <section class="cardcontainer card border-light mt-2">
            <div class="card border-light">
              <div class="card-body">
                <div id="map" style=" width: 100%; height: 790px; "></div>
              </div>
            </div>
          </section>
        </div>



      </div>

    </div>
    <!-- Modal: ventana de tiempo-->
    <%- include ('../partials/navigation.html')%>
</body>
  <%- include ('../partials/scriptsHome.html')%>
  <script src="/js/htmltoexcel.js"></script>
  <script src="/js/cargaVigencia.js"></script>
  <script src="/js/dateoVigencia.js"></script>




  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="https://www.amcharts.com/lib/3/serial.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/light.js"></script>


  <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>








</html>





