<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.gammel.js"></script>
        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.zune.js"></script>
        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.candy.js"></script>
        <link href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/prueba.css">
    
        <%- include ('../partials/head.html') %>
    </head>
    <%- include ('../partials/menuplapp.html')%>
    <body onload="indi(1)">
        <div class="container mt-4 mb-2">

            <div class="row">
                <div class="col-sm-12 mt-5">
                    <div class="card shadow-lg p-1 mb-3 bg-white rounded">
                        <div class="card-body">     
                            <h1 class="text-muted" style="text-align: center;">Reactivación Económica y Valle del Software</h1>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card shadow-lg p-3 mb-3 bg-white rounded">
                        <div class="card-body">
                            <h4 class="text-muted text18" >Avance Cuatrienial Línea
                                <spam>2020-2023</spam>
                            </h4>
                            <div class="mt-lg-3" id="avance-indicador" style="height: 250px;  width:100%;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card shadow-lg p-3 mb-3 bg-white rounded">
                        <div class="card-body">                   
                            <h4 class="text-muted text18" >Cumplimiento Anual Línea
                                <spam>2020</spam>
                            </h4>
                            <div class="mt-lg-3" id="cumplimiento-indicador" style="height: 250px;  width:100%;"></div>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-12 ">
                <div class="card shadow-lg p-3 mb-3 bg-white rounded">
                    <div class="row">
                    <div class="card-body col-sm-6">
                        <div class="mt-lg-3" id="history-indicador" style="height: 90px;  width:100%;"></div>
                    </div>
                    <div class="card-body col-sm-6"> 
                        <div class="mt-lg-3" id="history-cumplimiento-indicador" style="height: 80px;  width:100%;"></div>
                    </div>
                    </div>
                </div>
                </div>
            
                <div class="col-sm-12 ">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card-body col-sm-12">
                            <div class="table-responsive " style=" overflow-y: auto;">
                                <table class="table table-striped able-sm table-responsive-lg  table-inverse table-hover ">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th class="encabezadoTabla">Total Indicadores</th>
                                            <th class="encabezadoTabla">Componentes</th>
                                            <th class="encabezadoTabla" >Programas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="filaCenter" scope="row">120</td>
                                            <td class="filaCenter" >5</td>
                                            <td class="filaCenter" >16</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-body  col-sm-12">
                        <div class="legends">
                            <h4 class="text-muted text4Title">Propósito
                            </h4>
                            <p class="text14left">
                                La Reactivación Económica y el Valle del Software conforman una estrategia de
                                desarrollo económico con el objetivo de gestionar a partir de la educación, la innovación y
                                el emprendimiento nuevas oportunidades, aprovechando nuestras necesidades y
                                fortalezas para potenciar, sofisticar y diversificar la economía de la ciudad a través de la
                                apertura de nuevos escenarios y la generación de miles de empleos, en áreas asociadas a
                                la economía digital y la Cuarta Revolución Industrial.
                            </p>
                        </div>
                            <img src="/img/medellinl1.jpeg" width="500" height="170" alt="" srcset="">
                        </div>
                    </div>
                    
                    <div class="card-body col-sm-6">
                        <div class="table-responsive " style=" overflow-y: auto;">
                            <table class="table table-striped able-sm table-responsive-lg  table-inverse table-hover " style="height: 90px;" width="704">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th class="encabezadoTabla">#</th>
                                        <th class="encabezadoTabla">Cod_Dep</th>
                                        <th class="encabezadoTabla">Dependencia</th>
                                        <th class="encabezadoTabla">Indicadores</th>
                                    </tr>
                                </thead>
                              <tbody id="table_responsables"></tbody>
                            </table>
                        </div>
                        
                    </div>  
                </div>

                </div>

            </div>
        
        
            <div class="mt-2 shadow-lg p-3 mb-3 bg-white rounded">
                <h5 class="text-muted text4Title">Comportamiento Componentes</h5><br>
                <div  id="linea-componente" style="height: 270px;width: 100%;"></div>
              
                    <div class="table-responsive-sm">
                        <table  class="table table-sm table-responsive-sm table-hover" width="1371" style="font-size: small;">
                          <thead>
                            <th style="font-weight: 400; width: 44px; text-align: center;">Cod</th>
                            <th style="font-weight: 400; width: 44px; text-align: center;">Componente</th>
                            <th style="font-weight: 400; width: 44px; text-align: center;">Indicadores</th>
                            <th style="font-weight: 400; width: 44px; text-align: center;">% Avance</th>
                          </thead> 
                          <tbody id="tbl_comp"></tbody>
                        </table>
                    </div>
               
            </div>

        
            <div class="mt-2 shadow-lg p-3 mb-3 bg-white rounded">
                <h5 class="text-muted text4Title">Comportamiento Programas</h5>
                <div  id="linea-programa" style="height: 270px;width: 100%;"></div>

                <div class="table-responsive-sm">
                    <table  class="table table-sm table-responsive-sm table-hover" width="1371" style="font-size: small;">
                        <thead class="thead-inverse">
                        <th style="font-weight: 400; width: 44px; text-align: center;">Cod</th>
                        <th style="font-weight: 400; width: 44px; text-align: center;">Programa</th>
                        <th style="font-weight: 400; width: 44px; text-align: center;">Indicadores</th>
                        <th style="font-weight: 400; width: 44px; text-align: center;">% Avance</th>
                      </thead>
                      <tbody id="tbl_programa"> </tbody>
                    </table>
                  </div>
           
            </div>


            <div class="mt-2 shadow-lg p-3 mb-3 bg-white rounded">
               
                <form>
                    <fieldset class="fieldset3 mb-3 ml-1 mt-1">
                        <div class="table-responsive " style=" overflow-y: auto;">
                            <h5 class="text-muted text4Title">Indicadores</h5>
                            <p class="text14left">Escriba en el campo de entrada para buscar en la tabla:</p>  
                            <input class="form-control" id="myInput" type="text" placeholder="Search..">
                            <br>
                            <table class="table table-sm table-responsive-sm  table-bordered table-hover" width="1371" style="font-size: small;">
                                <thead">
                                    <tr>
                                        <th class="filaCenter">#</th>
                                        <th class="filaCenter">Cod_línea</th>
                                        <th class="filaCenter">Cod_compenente</th>
                                        <th class="filaCenter">Cod_Programa</th>
                                        <th class="filaCenter">Cod_Inidicador</th>
                                        <th class="filaCenter">Indicador</th>
                                        <th class="filaCenter">Tipo Indicador</th>
                                        <th class="filaCenter">Línea Base</th>
                                        <th class="filaCenter">Meta Plan</th>
                                        <th class="filaCenter">Unidad</th>
                                        <th class="filaCenter">Avance Cuatrienio</th>
                                        <th class="filaCenter">Logro Acumulado</th>
                                        <th class="filaCenter">Responsable Reporte</th> 
                                    </tr>
                                </thead>
                                <tbody id="tbl_indicadores_linea"></tbody>
                            </table>
                        </div>
                        <div>
                       
                       </div>
                    </fieldset>
                </form>
            </div>
            
        </div>
        <%- include ('../partials/scriptsHome.html')%>
        <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
        <script src="/js/lineagraph.js"></script>



    </body>
</html>


