
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <%- include ('../partials/head.html') %>
    <%- include ('../partials/srciptgraph.html') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<%- include ('../partials/menuplapp.html') %>
<body onload="_main()">
  
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-4 mt-4  shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <div class="mt-lg-3" id="canvas" style="height: 250px;  width:100%;"></div>
        </div>
        <div class="card-footer mt-4" style="background-color: white;">
          <a  class="btn btn-light" style="font-size: xx-small;" type="button"  href="/general"> 
            <i class="fa fa-pencil-square-o" style=" width:100%; height:16px; font-size: small;"aria-hidden="true"> Plan de Desarrollo 2020-2023</i>
           </a>
        </div>
      </div>

     
      <div class="col-md-4 mt-4  shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <div class="mt-lg-3" id="chart-ejecfisica" style="height: 250px;  width:100%;"></div>
        </div>
        <div class="card-footer mt-4" style="background-color: white;">
          <a  class="btn btn-light" style="font-size: xx-small;" type="button"  href="/general"> 
            <i class="fa fa-search" style=" width:100%; height:16px; font-size: small;"aria-hidden="true"> Ejecución física por dependencias</i>
           </a>
        </div>
      </div>

      <div class="col-md-4 mt-4  shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="mt-lg-3" id="chart-ejecfinanciera" style="height: 250px;  width:100%;"></div>
        </div>
        <div class="card-footer mt-4" style="background-color: white;">
          <a  class="btn btn-light" style="font-size: xx-small;" type="button"  href="/general"> 
            <i class="fa fa-search" style=" width:100%; height:16px; font-size: small;"aria-hidden="true"> Ejecución financiera  por dependencias</i>
           </a>
        </div>
      </div>

    </div>

    <div class="row">
     
      <div class="col-md-4  mt-2 shadow-sm p-3 mb-2 bg-white rounded">
        <div class="mt-lg-3" id="canvas-pa2" style="height: 200px;  width:100%;"></div>
        <div class="table-responsive-sm">
          <table  class="table table-sm table-responsive-sm table-hover" style="font-size: small;">
            <thead style="background-color: #B2B1A7;"> 
              <th style="font-weight: 400; width: 44px; text-align: center;">Compromisos</th>
              <th style="font-weight: 400; width: 44px; text-align: center;">Disponible</th>
              <th style="font-weight: 400; width: 44px; text-align: center;">Ordenado</th>
              <th style="font-weight: 400; width: 44px; text-align: center;">Total</th>

            </thead> 
            <tbody id="tbl_comp">
              <tr>
                <td  id="compromisos" style="font-weight: 400; width: 44px; text-align: center;"></td>
                <td  id="disponible" style="font-weight: 400; width: 44px; text-align: center;"></td>
                <td  id="ordenado" style="font-weight: 400; width: 44px; text-align: center;"></td>
                <td  id="total" style="font-weight: 400; width: 44px; text-align: center;"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4  mt-2 shadow-sm p-3 mb-2 bg-white rounded">
        <div class="mt-lg-3" id="canvas-pa1" style="height: 260px;  width:100%;"></div>
      </div>
      <div class="col-md-4 shadow-sm p-3 mb-2 bg-white rounded mt-1">
        <h4>Tipo de Inversión</h4>
        <div class="mt-lg-3" id="canvas-tipoInversion" style="height: 250px;  width:100%;"></div>
        <div class="table-responsive-sm">
          <table  class="table table-sm table-responsive-sm table-hover" width="1371" style="font-size: small;">
            <thead>
              <th style="font-weight: 400; width: 44px; text-align: center;">Localizada</th>
              <th style="font-weight: 400; width: 44px; text-align: center;">PP</th>
              <th style="font-weight: 400; width: 44px; text-align: center;">Ciudad</th>
              <th style="font-weight: 400; width: 44px; text-align: center;">Fortalecimiento Inst</th>
            </thead>
            <tbody class="table-hover" id="tbl_comp1">
              <tr>
                <td style="font-weight: 400; width: 415px; text-align: center;" id="tipo_localizada"></td>
                <td style="font-weight: 400; width: 415px;text-align: center;" id="tipo_pp"></td>
                <td style="font-weight: 400; width: 415px; text-align: center;" id="tipo_ciudad"></td>
                <td style="font-weight: 400; width: 415px; text-align: center;" id="tipo_fort"></td>
                <td></td>
              </tr>
            
            </tbody>
          </table>
        </div>
   

      </div>   
 
    </div>

    <div class="row">
 

      <div class="col-md-6 shadow-sm p-3 mb-2 bg-white rounded mt-1">
        <div class="mt-lg-3" id="chart-geo" style="height: 500px;  width:100%;"></div>
      </div>
      <div class="col-md-6 shadow-sm p-3 mb-2 bg-white rounded mt-1">
        <div class="mt-lg-3" id="chart-dep" style="height: 500px;  width:100%;"></div>
      </div>
    
    <div class="col-md-6 shadow-sm p-3 mb-2 bg-white rounded mt-1">
      <div class="mt-lg-3" id="chart-inicial" style="height: 550px;  width:100%;"></div>
    </div>
    <div class="col-md-6 shadow-sm p-3 mb-2 bg-white rounded mt-1">
      <div class="mt-lg-3" id="chart-avance-dep" style="height: 550px;  width:100%;"></div>
    </div>





    </div>
  </div>
  

</body>

</html>
<%- include ('../partials/scriptsHome.html')%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
<script src="/graph/dashgraph.js"></script>





  

 




