
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <%- include ('../partials/head.html') %>
    <link rel="stylesheet" href="css/carddash.css">
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
</head>
<%- include ('../partials/menuplapp.html') %>
<body onload="graphlineas()">
   <div class="container mt-5  mb-2" > 
    <div class="card-deck mt-5">
        <div class="card">
          <div class="about">
            <h2>Medellín Futuro</h2>
            <p class="lead">Plan de Desarrollo 2020-2023</p>
            <a class="btn btn-outline-info btn-block" style="font-size: xx-small;" type="button"  href="/general"> 
              <i class="fa fa-pencil-square-o" style=" width:60px; height:16px; font-size: small;"aria-hidden="true"> Consultar</i>
            </a>
          </div>
          <br>
          <h4 class="text-muted text12">Avance Cuatrienial</h4>
          <div id="canvas" style="height: 370px;  width:100%;"></div>
        </div>

       <div class="card">
          <!-- Custom information -->
          <div class="about">
            <h3>Reactivación Económica y Valle del Software</h3>
            <p class="lead">Línea Estratégica 1.</p>
            <table class="table table-sm table-responsive-lg table- table-striped table-hover">
              <thead class="thead-inverse" style="font-size: smaller;">
                <tr>
                  <th>Indicadores</th>
                  <th>Componentes</th>
                  <th>Programas</th>
                </tr>
                </thead>
                <tbody style="font-size: smaller;">
                  <tr>
                    <td scope="row">120</td>
                    <td>5</td>
                    <td>16</td>
                  </tr>
                </tbody>
            </table>
          </div>
          <div class="card-body text12" >
            <strong> Propósito:  </strong> <br>
            La Reactivación Económica y el Valle del Software conforman una estrategia de
            desarrollo económico con el objetivo de gestionar a partir de la educación, la innovación y
            el emprendimiento nuevas oportunidades, aprovechando nuestras necesidades y
            fortalezas para potenciar, sofisticar y diversificar la economía de la ciudad a través de la
            apertura de nuevos escenarios y la generación de miles de empleos, en áreas asociadas a
            la economía digital y la Cuarta Revolución Industrial.
            <br>
            <a class="btn btn-outline-info btn-block"  href="/linea-1"style="font-size: xx-small;" type="button"> 
              <i class="fa fa-pencil-square-o" style=" width:60px; height:16px; font-size: small;"aria-hidden="true" > Consultar</i>
            </a>
          </div>
          <div  id="canvas1" style="height: 270px;width: 100%;"></div>
       </div>

        <div class="card mb-2">
          <!-- Custom information -->
          <div class="about">
            <h3>Transformación Educativa y Cultural</h3><br>
            <p class="lead">Línea Estratégica 2.</p>
              <table class="table table-sm table-responsive-lg table- table-striped table-hover">
              <thead class="thead-inverse" style="font-size: smaller;">
                <tr>
                  <th>Indicadores</th>
                  <th>Componentes</th>
                  <th>Programas</th>
                </tr>
                </thead>
                <tbody style="font-size: smaller;">
                  <tr>
                    <td scope="row">129</td>
                    <td>8</td>
                    <td>22</td>
                  </tr>
                </tbody>
            </table>
          </div>
          <div class="card-body text12">
            <strong> Propósito:  </strong> <br>
            Garantizar una educación de calidad como derecho que moviliza la transformación humana, económica, política, ambiental y social
            de Medellín Futuro, articulada a un proyecto cultural de ciudad fundado en los derechos culturales, que fortalezca el potencial 
            creativo de sus ciudadanos, salvaguarde sus patrimonios y memorias y contribuya a hacer de Medellín una ciudad más solidaria, participativa 
            y en paz. 
            <br> <br>
            <a class="btn btn-outline-info btn-block"  href="/linea-2"style="font-size: xx-small;" type="button"> 
              <i class="fa fa-pencil-square-o" style=" width:60px; height:16px; font-size: small;"aria-hidden="true" > Consultar</i>
            </a>
            </div>
            <div  id="canvas2" style="height: 270px;width: 100%;"></div>
        </div>
          <!-- Canvas for Chart.js -->
        
        
       </div>
    
    <div class="card-deck">

      <div class="card">
      <!-- Custom information -->
        <div class="about">
          <h3>Medellín me Cuida</h3>
          <p class="lead">Línea Estratégica 3.</p>
          <table class="table table-sm table-responsive-lg table- table-striped table-hover">
            <thead class="thead-inverse" style="font-size: smaller;">
              <tr>
                <th>Indicadores</th>
                <th>Componentes</th>
                <th>Programas</th>
              </tr>
            </thead>
            <tbody style="font-size: smaller;">
              <tr>
                <td scope="row">129</td>
                <td>8</td>
                <td>22</td>
              </tr>
            </tbody>
          </table> 
        </div>
        <div class="card-body text12">
          <strong> Propósito:  </strong> <br>
          Promover, crear, renovar y garantizar las condiciones básicas sociales y culturales que les permitan a los ciudadanos de Medellín en sus diferentes 
          cursos de vida tener las capacidades para desarrollar su potencial humano e individual y contribuir desde sus posibilidades a la creación de entornos
           sociales y comunitarios saludables, seguros, creativos y sostenibles.

          <br> <br><br>
          <a class="btn btn-outline-info btn-block"  href="/linea-3"style="font-size: xx-small;" type="button"> 
            <i class="fa fa-pencil-square-o" style=" width:60px; height:16px; font-size: small;"aria-hidden="true" > Consultar</i>
          </a>
        </div>          
        <!-- Canvas for Chart -->
        <div  id="canvas3" style="height: 275px;width: 100%;"></div>
      </div>


      <div class="card">
        <!-- Custom information -->
        <div class="about">
          <h3>Ecociudad</h3>
          <p class="lead">Línea Estratégica 4.</p>
          <table class="table table-sm table-responsive-lg table- table-striped table-hover">
            <thead class="thead-inverse" style="font-size: smaller;">
              <tr>
                <th>Indicadores</th>
                <th>Componentes</th>
                <th>Programas</th>
              </tr>
            </thead>
            <tbody style="font-size: smaller;">
              <tr>
                <td scope="row">129</td>
                <td>8</td>
                <td>22</td>
              </tr>           
            </tbody>
          </table>
        </div>
        <div class="card-body text12" >
          <strong> Propósito:  </strong> <br>
          Establecer las bases de la transición ecológica para direccionar a Medellín a un futuro de sostenibilidad, donde se garantice
          el pleno disfrute del derecho a la ciudad, la habitabilidad digna de sus habitantes y la integración funcional y armoniosa de la 
          ruralidad mediante el reconocimiento y acceso a los derechos de los pobladores rurales.
          <br> <br><br><br>
          <a class="btn btn-outline-info btn-block"  href="/linea-4"style="font-size: xx-small;" type="button"> 
            <i class="fa fa-pencil-square-o" style=" width:60px; height:16px; font-size: small;"aria-hidden="true" > Consultar</i>
          </a>
        </div>            
        <!-- Canvas for Chart.js -->
        <div  id="canvas4" style="height: 270px;width: 100%;"></div>
      </div>

      <div class="card">
        <!-- Custom information -->
        <div class="about">
          <h3>Gobernanza y Gobernabilidad.</h3>
          <p class="lead">Línea Estratégica 5.</p>
          <table class="table table-sm table-responsive-lg table- table-striped table-hover">
            <thead class="thead-inverse" style="font-size: smaller;">
              <tr>
                <th>Indicadores</th>
                <th>Componentes</th>
                <th>Programas</th>
              </tr>
            </thead>
            <tbody style="font-size: smaller;">
              <tr>
                <td scope="row">129</td>
                <td>8</td>
                <td>22</td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="card-body text12">
            <strong> Propósito:  </strong> <br>
            <textarea  style="border:0cm" class="text12" name="" id="" cols="45" rows="10">
              El propósito de la Línea es generar las condiciones y capacidades institucionales, políticas y ciudadanas para el fortalecimiento de lo público,
              generando sinergia entre el gobierno y la ciudadanía. Buscamos el diálogo abierto desde los diferentes saberes, la concertación entre los 
              diferentes actores y la construcción colectiva de procesos ciudadanos de paz territorial, desde el conocimiento colectivo del territorio, 
              la instalación  de capacidades locales e institucionales para la gestión y protección de lo público, el uso del dato y la información como 
              activo público que otorga valor y la articulación intra e interinstitucional y territorial.
            </textarea>
            <a class="btn btn-outline-info btn-block"  href="/linea-5"style="font-size: xx-small;" type="button"> 
              <i class="fa fa-pencil-square-o" style=" width:60px; height:16px; font-size: small;"aria-hidden="true" > Consultar</i>
            </a>
          </div>  
          <!-- Canvas for Chart.js -->
          <div  id="canvas5" style="height: 270px;width: 100%;"></div>
      </div>
    </div>
</div>
</body>
</html>

<%- include ('../partials/scriptsHome.html')%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
<script src="/graph/dashgraph.js"></script>
<script src="/js/dateo.js"></script>
<script type="text/javascript">
  function stopEnterKey(evt) {
      var evt = (evt) ? evt : ((event) ? event : null);
      var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
      if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
  }
  document.onkeypress = stopEnterKey;
</script>




  

 




