<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../partials/scriptsHome.html')%>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.gammel.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.zune.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.candy.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <%- include ('../partials/head.html') %>
</head>
<%- include ('../partials/menuplapp.html')%>
<body onload="dateomain()">

  <div id="container" class="mt-5 mb-3">
 
    <div class="row">

        <%- include ('../partials/rangos.html')%>

        <div class="col-md-12 mt-4  shadow-lg p-3  mb-1 bg-white rounded">
           <div class="card-body">
               <div id="chart-container" style="width: 100%; height: 700px;"></div>
          </div>
        </div> 

          <div class="col-md-12  shadow-lg">
            <div class="card-body">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <input class="form-control " id="myInput" type="search" placeholder="Search.." aria-label="Search" style="width: 100%;">
                    <form class="form-inline my-2 my-lg-1">
                        <div class="btn-group" role="group" >
                            <button type="button" class="btn btn-primary" onclick="filtro(0)">Todos</button>
                            <button type="button" class="btn btn-danger" onclick="filtro(1)">Rojo</button>
                            <button type="button" class="btn btn-warning"onclick="filtro(2)">Medio</button>
                            <button type="button" class="btn btn-success"onclick="filtro(3)">Alto</button>
                        </div>
                    </form>
                </nav>
            </div>
          </div>

        <div class="col-md-12 mt-4  shadow-lg p-3 mb-1  rounded">
            <div class="card-body">
                <table  class="table table-sm table-responsive-sm table-hover  "  style="font-size: small; width: 100%;">
                   <thead class="thead-inverse" style=" padding-top: 12px;
                   padding-bottom: 12px;
                   text-align: left;
                   background-color: rgb(0,123,255);
                   color: white;">
                        <tr>
                            <th style="text-align: center; width: 15px;"><span>#</span></th>
                            <th style="text-align: center; width: 15px;">Cod_dep <span></span></th>
                            <th style="text-align: center;  width: 250px;">Dependencia </th>
                            <th style="text-align: center;  width: 50px;">Indicadores de Producto</th>

                            <th style="text-align: center;background-color: gray; width: 50px;">No programados</th>
                            <th style="text-align: center;background-color: gray; width: 50px;">%</th>

                            <th style="text-align: center;background-color: red;  width: 50px;">Rojo <span id="minimorango"></span></th>
                            <th style="text-align: center;background-color: red;  width: 50px;"> <span >%</span></th>

                            <th style="text-align: center;background-color :rgb(255,193,7); width: 50px;">Naranja <span id="intermediorango"> </span></th>
                             <th style="text-align: center;background-color:rgb(255,193,7); width: 50px;"><span > %</span></th>

                            <th style="text-align: center;background-color: green;  width: 50px;">Verde <span id="maximorango"> </span></th>
                            <th style="text-align: center;background-color: green;  width: 50px;"> <span>%</span></th>

                            <th style="text-align: center; width: 150px;">% Avance Cuatrienio <span id="avance_cuatrienio"></span></th>
                           <!--  <th style="text-align: center; width: 150px;"> <span style="width: 30; height: 30;"> <i class="fa fa-globe fa-3x fa-rotate-270" style="color: #339af0;"></i> </span></th>  -->
                        </tr>
                    </thead>
                    <tbody id="tabla_alerta" class="table-hover tbody-inverse"></tbody>
                    <tfoot style=" padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    background-color: #B2B1A7;
                    color: white;" >
                        <th colspan="3" style="text-align: right;">Totales</th>
                        <th style="text-align: center;"> <span id="totaInd"></span></th>

                        <th style="text-align: center;background-color: gray; width: 50px;"> <span id="totalnoprogramados"></span></th>
                        <th style="text-align: center;background-color: gray; width: 50px;"> <span id="pocentajeprogramados"></span></th>

                        <th style="text-align: center;background-color: red;  width: 50px;"> <span id="totalminimorango"></span></th>
                        <th style="text-align: center;background-color: red;  width: 50px;"> <span id="porcentajeminimorango"></span></th>

                        <th style="text-align: center;background-color :rgb(255,193,7); width: 50px;"> <span id="totalinermediorango"></span></th>
                        <th style="text-align: center;background-color :rgb(255,193,7); width: 50px;"><span id="porcentajemediorango"></span></th>

                        <th style="text-align: center;background-color: green;  width: 50px;"> <span id="totalmaximorango"></span></th>
                        <th style="text-align: center;background-color: green;  width: 50px;"> <span id="porcentajemaximorango"></span></th>

                        <th style="text-align: center;"> <span id="total_avance_cuatrienio"></span></th>
                        
                    </tfoot>
            </table>


          </div> 
     
        </div>
</div>





 <!--****-->

 
    
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Modal semaforo
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<div class="modal fade bd-example-modal " id="exampleModalSemFavGeneral" tabindex="-1" role="dialog" aria-labelledby="exampleModalSemFavGeneral" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span> <h4  class="modal-title" id="nom_depencia_query"></h4> </span> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="form-row">
          <div class="col-md-12" id="chart-container" style="height: 500px;  width:100%;"> </div>
        
    
        </div>
     </div>

  </div>
  </div>
</div>


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    
</body>

<script src="/graph/alertas.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

</html>



