<div class="card border-light">
    <div class="card-body">
    <p style="text-align:justify;font-family: 'Merriweather', serif; font-size: smaller;">
        <strong>La inversión Localizada: </strong> <br> 
        se refiere a las inversiones que tienen una ubicación específica en la comuna o corregimiento, y en este caso es la Inversión por Presupuesto Participativo e Inversión Institucional.
    </p>
    <p style="text-align:justify;font-family: 'Merriweather', serif; font-size: smaller;">
         <strong>Inversión de ciudad</strong> <br>
         Representa una ponderación de la inversión por concepto de proyectos con enfoque de ciudad, no ubicables específicamente en una comuna o corregimiento.
    </p>
    <p style="text-align:justify; font-family: 'Merriweather', serif;font-size: smaller;">
         <strong> <b> Inversión por Presupuesto Participativo</b> </strong><br>
            Es una herramienta de gestión participativa que destina el 5% anual del presupuesto municipal, como recursos de inversión, priorizados y decididos por los habitantes de cada comuna y corregimiento, para que mediante su ejercicio democrático y concertación resuelvan sobre las necesidades comunes a satisfacer, posibilitando que su deliberación se cristalice en la formulación de iniciativas de inversión que se ejecutan con el
            presupuesto municipal, este instrumento permite a los líderes sociales y ciudadanos realizar un monitoreo permanente a la inversión y desarrollo de las propuestas presentadas por la comunidad, impulsando la transparencia, la eficacia y eficiencia administrativa en el uso de los recursos públicos.
            El Acuerdo 28 de 2017 regula la planeación local y el Presupuesto Participativo en el marco del Sistema Municipal de Planeación (antes Acuerdo 043 de 2007), asignando al menos un 5% del Presupuesto Municipal.
    </p>

  </div>
</div>