
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<%- include ('../partials/head.html') %>
 <body>
   
   <div class="container">
     <div class="myCard">
       <div class="row">
         <div class="col-md-6">
           <div class="myLeftCtn">
             <form class="myForm text-center" action="/auth/login" method="POST">
               <header>Ingresar</header>
               <div class="form-group">
                 <i class="fa fa-envelope"></i>
                 <input class="myInput" type="email" name="username" id="username" placeholder="Usuario" required>
               </div>
               <div class="form-group">
                 <i class="fa fa-lock"></i>
                 <input class="myInput" type="password" name="password" id="password" placeholder="Password" required>
               </div>
               <input type="submit" class="butt" value="Ingresar">
             </form>
           </div>
         </div>
          <div class="col-md-6">
                <div class="myRigthCtn">
                  <div class="box"> <header>SEE-PDM</header>
                    <p class="text-intro">
                      El seguimiento y evaluación al Plan de Desarrollo Municipal –PDM–, se concibe como un sistema en el que participan todos
                      los servidores del municipio de Medellín a nivel central y descentralizado; este sistema contribuye al fortalecimiento de
                      los procesos de planificación y gestión y mejora la disponibilidad de información tanto para la toma de decisiones como para
                      la rendición pública de cuentas, facilitando de esta forma una comunicación de los ciudadanos con la administración pública.
                    </p><br>
                  <!--  <a class="butt_out" value="Registrarme"   href="/auth/register" name="register" id="register"  >Registrarme</a> -->
                  </div>
                </div>
              </div>
       </div>
     </div>
   </div>
 </body>
 <%- include ('../partials/scriptsHome.html') %>
<script src="/js/home.js"></script> 

