
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<%- include ('../partials/head.html') %>
 <body>
   
   <div class="container">
     <div class="myCard ">
       <div class="row">
         <div class="col-sm-12 col-md-6 ">
           <div class="myLeftCtn">
             <form class="myForm text-center" action="/auth/login" method="POST">
              <header style="font-size: 48px; text-align: center;">Avanza Medellín </header>
               <div class="form-group">
                 <i class="fa fa-envelope"></i>
                 <input class="myInput" type="email" name="username" id="username" placeholder="Usuario" required>
               </div>
               <div class="form-group">
                 <i class="fa fa-lock"></i>
                 <input class="myInput" type="password" name="password" id="password" placeholder="Password" required>
               </div>
               <input type="submit" class="butt" value="Ingresar">
             </form>
           </div>
         </div>
         <div class="col-sm-12 col-md-6 ">
                <div class="myRigthCtn">
                  <div class="box">
                   
                    <p class="text-intro mt-3">
                      Bienvenido a la aplicación de seguimiento del Plan de Desarrollo de Medellín. Esta aplicación le permitirá conocer en
                      tiempo real el progreso y los avances en la implementación de las metas y proyectos establecidos en el Plan de
                      Desarrollo de la ciudad. Con esta herramienta podrá tener acceso a información detallada sobre cada uno de los
                      proyectos, incluyendo su estatus actual, presupuesto, plazos, entre otros aspectos relevantes. Además, podrá
                      participar activamente en el seguimiento y evaluación del Plan, dando su opinión y aportando ideas para mejorar la
                      gestión pública en Medellín. ¡Únase a nosotros en esta importante iniciativa y contribuya al desarrollo de la ciudad!
                    </p>
               
                  </div>
                </div>
              </div>
       </div>
     </div>
   </div>
 </body>
 <%- include ('../partials/scriptsHome.html') %>
<script src="/js/home.js"></script> 

