
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"><h4 > <%= title %>  </h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/dash">Dash<span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PDM</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/linea-1">Reactivación Económica y Valle del Software</a>
              <a class="dropdown-item" href="/linea-2">Transformación Educativa y Cultural</a>
              <a class="dropdown-item" href="/linea-3">Medellín me Cuida</a>
              <a class="dropdown-item" href="/Linea-4">Ecociudad</a>
              <a class="dropdown-item" href="/Linea-5">Gobernanza y Gobernabilidad</a>
            
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/componentes">Componentes</a>
              <a class="dropdown-item" href="/programas">Programas</a>
              <a class="dropdown-item" href="/indicadores">Indicadores</a>
              <a class="dropdown-item" href="/estructura">Estructura Plan</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/indicadores" tabindex="-1" >Indicadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects" tabindex="-1" >Proyectos Estratégicos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" >Dependencias</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Obra Física</a>
        </li>
      <!-- 
        <li class="nav-item">
          <a class="nav-link" href="/contacto" tabindex="-1" >Contacto</a>
        </li>
      --> 
      </div>
  </nav>


  
 


  <script type="text/javascript">
    function stopEnterKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type == "search")) { return false; }
    }
    document.onkeypress = stopEnterKey;
  </script>