<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top mb-5">
  <a class="navbar-brand" href="#"><h4 > <%= title %>  </h4></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/dash">Dash<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PDM</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/linea-1">Reactivación Económica y Valle del Software</a>
          <a class="dropdown-item" href="/linea-2">Transformación Educativa y Cultural</a>
          <a class="dropdown-item" href="/linea-3">Medellín me Cuida</a>
          <a class="dropdown-item" href="/Linea-4">Ecociudad</a>
          <a class="dropdown-item" href="/Linea-5">Gobernanza y Gobernabilidad</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/componentes">Componentes</a>
          <a class="dropdown-item" href="/programas">Programas</a>
          <a class="dropdown-item" href="/indicadores">Indicadores</a>
         <!-- <a class="dropdown-item" href="/estructura">Estructura Plan</a> --> 
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/indicadores" tabindex="-1" >Indicadores</a>
      </li>
      <li class="nav-item">
        <!-- Button trigger modal -->
        <a type="button" class="btn" style="color: darkgray;" onclick="callmodal()" id="buscaproyecto"> Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dependencias" tabindex="-1" >Dependencias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/territorio" tabindex="-1" >Territorios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" >Obra física</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/projects" tabindex="-1" >Proyectos Estratégicos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/alertas">Alertas</a>
      </li>
     
    </ul> 
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto"> 
       <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= user[0].nom_usuario%></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="card  mb-2 card shadow-lg p-1 mb-3 bg-white rounded" style="max-width: 18rem; height: 20rem;">
            <div class="card-header">Perfil</div>
            <div class="card-body">
              <p class="card-text">Nivel: <%= user[0].id_cargo %> </p>
              <p class="card-text">Email: <%= user[0].email%></p>
              <p class="card-text">Teléfono: <%= user[0].tel_contacto %> </p>
              <p class="card-text">Dependencia: <%= user[0].cod_dependencia %> </p>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/auth/logout">Cerrar session</a>
        </div>
      </li>
    </ul>
    <a class="nav-link">  <span class="sr-only">(current)</span></a>
    <a class="nav-link">  <span class="sr-only">(current)</span></a>
    <a class="btn btn-outline-danger my-2 my-sm-0"  href="/auth/logout" type="submit">Salir</a>
    </form>
  </div>
</nav>

 <!-- Modal -->
  <div class="modal fade" id="proyect" tabindex="-1" aria-labelledby="proyectLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SSE-PDM</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 mb-2">
                <h4  style="text-align: center;font-size: 28px;line-height: 50px;font-weight: 250;color: rgb(35, 83, 134);
                font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Consulta de proyectos de inversión</h4>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" class="form-control" id="valstat" name="valstat"  style="text-transform: uppercase" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">Ingrese el Valor Estádistico</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <button type="button" id="valstat_query" class="btn btn-secondary btn-block  mb-2 " onclick="query_valstat()" aria-describedby="emailHelp2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#f7f6e7" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg> Buscar 
                  </button>
                </div>
              </div> 
              <div class="col-md-8">
                <div class="form-group">
                  <input type="number" class="form-control" id="bpin" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">Ingrese el Código BPIN</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <button type="button" id="nom_proyecto" class="btn btn-secondary btn-block  mb-2 " onclick="busca_proyect()" aria-describedby="emailHelp2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#f7f6e7" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg> Buscar
                  </button>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Salir</button>
        </div>
      </div>
    </div>
  </div>



  <%- include ('../partials/reportProyecto.html') %>
  <%- include ('../partials/query_proyecto.html') %>
  <script type="text/javascript">
    function stopEnterKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type == "search")) { return false; }
    }
    document.onkeypress = stopEnterKey;
     async function callmodal(){
      jQuery.noConflict();
      $('#proyect').modal('show'); 
     }
  </script>
  <script src="/js/proyectos_pa.js"></script>
