<br><br>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h2 ><%= title %>  </h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cuatrienios">Líneas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vigencias">Componentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comunas">Programas</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/dependencias">Indicadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proyectos">Inversión Pública</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proyectos">Plan de Accion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proyectos">Plan de Acción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proyectos">POT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proyectos">Observatorio de PP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proyectos">Población</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>