<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js" integrity="sha512-ICHkAOXzVDEkL5xkXjAWRV/hx6Bq4ID/uhRcnj9zS7QCdCbhVtfgjwt/vTfUBtW1wzBkErImU0huK3LDVeEr8g==" crossorigin="anonymous"></script>
<div class="modal fade bd-example-modal " id="q_proyect" tabindex="-1" role="dialog" aria-labelledby="q_proyectLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SSE-PDM</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
         <div class="form-row">
          <div class="col-md-2">
            <button class="btn btn-danger btn-sm" id="downloadQproyect"  onclick="dowloadQP()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
              </svg>
          </button>
          </div>
          <div class="row" id="invoiceQproyect">
            <div class="col-md-12">
              <h2 class="text-muted text-center">Ficha Seguimiento Proyectos de Inversión</h2>
              <h4 class="text-muted " style="text-align: center;font-size: 18px;line-height: 18px;font-weight: 600;color: #73879C;
                font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;"><span id="codqp"></span> - <span id="nomqp"></span>
              </h4>
              <h5 style="text-align: center;font-size: 16px;line-height: 14px;font-weight: 600;color: #73879C;
                font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;"><span   id="tipo_proyectoqp"></span>
              </h5>
              <h5 style="text-align: center;font-size: 16px;line-height: 14px;font-weight: 600;color: #73879C;
              font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;"><span   id="corteqp"></span>
            </h5>

              <table class="table table-sm table-responsive-sm  table-bordered "  style="font-size: small;">
                <thead class="thead-inverse">
                  <tr  style="background-color:gray ;text-align: center;">
                    <th colspan="6" >Estructura Plan de Desarrollo</th>
                  </tr>
                  <tr>
                    <th style="text-align: center;">Cod.Línea</th>
                    <th style="text-align: center;">Línea</th>
                    <th style="text-align: center;">Cod. Componente</th>
                    <th style="text-align: center;">Componente</th>
                    <th style="text-align: center;">Cod. Programa</th>
                    <th style="text-align: center;">Programa</th>
                  </tr>
                  <tr>
                    <td  style="text-align: center;" id="cod_lineaqp"> </td>
                    <td  style="text-align: center;" id="nom_lineaqp"> </td>
                    <td  style="text-align: center;" id="cod_componenteqp"> </td>
                    <td  style="text-align: center;" id="nom_componenteqp"> </td>
                    <td  style="text-align: center;" id="cod_programaqp"> </td>
                    <td  style="text-align: center;" id="nom_programaqp"> </td>
                   </tr>
                  <tr  style="background-color:gray ;text-align: center;">
                    <th colspan="6" >Descripción Presupuestal</th>
                  </tr>
                  <tr style="background-color: rgb(204,211,212);">
                    <th colspan="2" style="text-align: center;">POAI </th>
                    <th colspan="2" style="text-align: center;">Presupuesto Ajustado </th>
                    <th colspan="2" style="text-align: center;">Ejecución </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="2" style="text-align: center;" id="poaiqp" >  </td>
                    <td colspan="2" style="text-align: center;" id="ppto_ajustadoqp"></td>
                    <td colspan="2" style="text-align: center;"><span id="ejecqp"> </span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12"> <hr>  </div>
            <div class="col-md-4">  <div  id="chart-1qp" style="height: 200px;  width:90%;"></div></div>
            <div class="col-md-4">  <div  id="chart-2qp" style="height: 200px;  width:90%;"></div></div>
            <div class="col-md-4"> <div  id="chart-3qp" style="height: 200px;  width:90%;"></div></div>
            <div class="col-md-12"> <hr> <br> </div>
            <div class="col-md-12">
              <table class="table table-sm table-responsive-sm  table-bordered "  style="font-size: small;">
                <tbody id="valStatQproyect">
               </tbody>
               <tfoot> <th>
                <h5 style="text-align: center;font-size: 16px;line-height: 14px;font-weight: 600;color: #73879C;
                font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">USPDM- DAP
              </h5>
               </th>
               
               </tfoot>
              </table>
            </div>
            <div class="col-md-12 html2pdf__page-break"></div>
            <div class="col-md-12"><div   id="chart-geoQproyect" style="height: 310px;  width:85%;"></div></div>
            <div class="col-md-12">
              <table class="table table-sm table-responsive-sm  table-bordered table-hover" width="1371" style="font-size: small;">
                <thead class="thead-inverse" style="background: rgb(178,177,167);">
                  <tr>
                    <th style="text-align: center;" colspan="2">Tabla Distribución de la Inversión realizada por el Proyecto</th>
                  </tr>
                  <tr>
                    <th style="text-align: center;" colspan="2"><span id="nomprodetalleqp"></span></th>
                  </tr>
                  <tr>
                    <th  style="text-align: center;">Comuna</th>
                    <th style="text-align: center;">Inversión</th>
                  </tr>
                </thead>
              <tbody id="inv_territorio_qproject"> </tbody>
              <tfoot>
                <tr>
                  <th colspan="2" style="text-align: right; font-size: xx-small;"> Fuente: Unidad de Seguimiento al Plan de Desarrollo Municipal </th>       
                </tr>
                <tr>
                  <th colspan="2" style="text-align: right; font-size: xx-small;"> Departamento Administrativo de Planeación </th>
                </tr>
              </tfoot>
            </table>
           </div>
        </div>
      </div>
    </div>
    </div>
   </div>
 </div>
 <script src="/js/proyectos_pa.js"></script>