
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    

    <div class="card col-md-12 mt-5  shadow-lg p-3  mb-2 bg-white rounded">
         <h1>Plan de Acción</h1>
      <div class="row">
  
        <div class="col-sm-2">
          <span class="text-muted" style="text-align: center;font-size: 18px;line-height: 13px;font-weight: 150;color: #73879C;
          font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;"> <b> Corte : </b> 
          <span id="fecha_corte"></span>.</span>  
        </div>
       
        <div class="col-sm-3">
          <span class="text-muted" style="text-align: center;font-size: 18px;line-height: 13px;font-weight: 150;color: #73879C;
              font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">  
              Porcentajes en los Rangos de avance para este período del seguimiento del Plan de Acción
          </span> 
        </div>
        
        <div class="col-sm-3">
          <span class="text-muted" style="text-align: center;font-size: 18px;line-height: 13px;font-weight: 150;color: #73879C;
             font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;"><i class="fa fa-arrow-down fa-2x" style="color: crimson;"></i>
          </span>   
      
          <input type="number" id="minimo-corte" style="font-size: medium; text-align: center; width:50%;border-color:#B4358B;" disabled> 
        
        </div>
  
    
       
       <div class="col-sm-3">
         
          <input type="number" id="maximo-corte" style="font-size: medium; text-align: center; width: 50%;border-color:rgb( 88,172,133);" disabled>
          <i class="fa fa-arrow-up fa-2x" style="color: #00af91;"></i>
         
       </div>
      </div>
    
    </div>
  
  
    <script src="/js/rangopa.js"></script> 
 