


<!DOCTYPE html>
<html lang="es">
  <head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <title> <%= title %> </title>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <%- include ('../partials/head.html') %>
    <%- include ('../partials/srciptgraph.html') %>
  </head>
  <%- include ('../partials/menuplapp.html') %>
<body onload=" _main()" >
  <div id="container"  >
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--tarjetas de datos generales de los tipos de inversion-->
    <div class="card text-center shadow bg-light-gray rounded mb-0 mt-4">
      <div class="card-deck ">
        <div class="card-body ">
          <div class="input-group mb-2 col-12 col-12-mobilep input-group">
            <select class="custom-select" id="inputGroupSelectDependencia" onchange="dep_estado(this.value)">
              <option value=0 >Seleccione la dependenica a consultar...</option>
                <% dependencias.forEach(function(dependencia){ %>
              <option value=<%= dependencia.cod_dep %>><%= dependencia.nombre_dep%> </option>
                <% }); %>
            </select>
          </div>
        </div>
      </div>
    </div>
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--tarjetas de datos generales de los tipos de inversion-->
    <div class="card text-center shadow mt-2 mb-1">
         <div class="row">
          <div class="col-md-4 mt-4 ">
            <div class="card-body">
              <div class="mt-lg-3" id="canvas-dep" style="height: 250px;  width:100%;"></div>
            </div>
      
          </div>
          <div class="col-md-4 mt-4  ">
            <div class="card-body">
              <div class="mt-lg-3" id="chart-ejecfisica-dep" style="height: 250px;  width:100%;"></div>
            </div>
          
          </div>
          <div class="col-md-4 mt-4  ">
            <div class="card-body">
               <div class="mt-lg-3" id="chart-ejecfinanciera-dep" style="height: 250px;  width:100%;"></div>
            </div>
           
          </div>
        </div>
      </div>
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<%- include ('../partials/rangos.html') %>
  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

<div class="card  shadow-sm p-3 mb-1 bg-white rounded text-center mt-2 mb-2">
  <div class="card ">
  <div class="row">
    <div class="col-md-4">
      <div class="card-body shadow-sm p3"><div class="card-body " id="chart-lineas-dep" style="width: 100%; height: 400px;"></div></div>
    </div>
    <div class="col-md-4">
      <div class="card-body shadow-sm p3"><div class="card-body " id="chart-componentes-dep" style="width: 100%; height: 400px;"></div></div>
    </div>
    <div class="col-md-4">
      <div class="card-body shadow-sm p3"><div class="card-body " id="chart-programas-dep" style="width: 100%; height: 400px;"></div></div>
    </div>
  </div>
  </div>
</div>
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
   <!--semaforo-->
   <div class="row">

    <div class="col-md-3 mt-1  shadow-md p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="text-muted" style="text-align: center;font-size: 24px;line-height: 13px;font-weight: 150;color: #73879C;
          font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">No programado  <span><img src="/img/pause.png" alt=""  width="30" height="30"></span>
        </h3>
        <h1  id="total-gris" style="text-align: center;color:#B2B1A7"></h1>
        <h3   id="porcentaje-gris" style="text-align: center;color:#B2B1A7"> </h3>
      </div>
      <div id="footer-card-gris"></div>
    </div>

    <div class="col-md-3 mt-1  shadow-md p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="text-muted" style="text-align: center;font-size: 24px;line-height: 13px;font-weight: 150;color: #73879C;
          font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Cumplimiento Bajo <span><img src="/img/rojo.png" alt=""  width="20" height="20"></span>
        </h3>
        <h1 id="total-rojos"  style="text-align: center;color:#B4358B"></h1>
        <h3 id="porcentaje-rojos" style="text-align: center;color:#B4358B"></h3>
      </div>
      <div id="footer-card-rojo"></div>
    </div>

    <div class="col-md-3 mt-1 shadow-md p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="legends">
          <h4 class="text-muted" style="text-align: center;font-size: 24px;line-height: 13px;font-weight: 150;color: #73879C;
            font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Cumplimiento Medio <span><img src="/img/amarillo.png" alt=""  width="20" height="20"></span>
          </h4>
        </div>
        <h1 id="total-naranjas" style="text-align: center;color:#EE7518"></h1>
        <h3 id="porcentaje-naranjas" style="text-align: center;color:#EE7518"></h3>
      </div>
      <div id="footer-card-amarillo"></div>
    </div>

    <div class="col-md-3 mt-1  shadow-md p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="legends">
          <h4 class="text-muted" style="text-align: center;font-size: 24px;line-height: 13px;font-weight: 150;color: #73879C;
            font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;">Cumplimiento <span><img src="/img/verde.png" alt=""  width="20" height="20"></span>
          </h4>
        </div>
        <h1 id="total-verdes" style="text-align: center;color:#00853E"></h1>
        <h3 id="porcentaje-verdes"  style="text-align: center;color:#00853E"></h3>
      </div>
      <div id="footer-card-verde"></div>
    </div>
     
  </div>

<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--tarjetas de datos generales de los tipos de inversion-->
    <div class="card text-center shadow mt-2 mb-1">
      <div class="row">
     
        <div class="col-md-4  mt-2  mb-2 ">
          <div class="card-body">
             <div class="mt-lg-3" id="canvas-pa2-dep" style="height: 150px;  width:100%;"></div>
          <div class="table-responsive-sm">
            <table  class="table table-sm table-responsive-sm table-hover" style="font-size: small;">
              <thead style="background-color: #B2B1A7;"> 
                <th style="font-weight: 400; width: 44px; text-align: center;">Compromisos</th>
                <th style="font-weight: 400; width: 44px; text-align: center;">Disponible</th>
                <th style="font-weight: 400; width: 44px; text-align: center;">Ordenado</th>
                <th style="font-weight: 400; width: 44px; text-align: center;">Total</th>
              </thead> 
              <tbody id="tbl_comp">
                <tr>
                  <td  id="compromisos-dep" style="font-weight: 400; width: 44px; text-align: center;"></td>
                  <td  id="disponible-dep" style="font-weight: 400; width: 44px; text-align: center;"></td>
                  <td  id="ordenado-dep" style="font-weight: 400; width: 44px; text-align: center;"></td>
                  <td  id="total-dep"  style="font-weight: 400; width: 44px; text-align: center;"></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
        <div class="col-md-4  mt-2  mb-2 ">
          <div class="card-body">
             <div class="mt-lg-3" id="canvas-pa1-dep" style="height: 280px;  width:100%;"></div>
          </div>
        </div>
       <div class="col-md-4  mt-2 mb-2 ">
         <div class="card-body">
          <div id="chart-proyectos-dep" style="height: 280px;  width:100%;"></div>
         </div>
 
        </div>
       </div>
    </div>
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<div class="card text-center shadow mt-2 mb-1">
  <div class="row">
    <div class="col-md-3 mt-4  ">
      <div class="card-body shadow-sm ">
        <h6 class="card-title cardheader" style="color: #73879C;">Número de Proyectos Iniciativa Institucional</h6>
        <h6 id="inst"  style="color: rgb(17, 160, 41);" class="card-text total"> <b></b></h6>
      </div>
    </div>
    <div class="col-md-3 mt-4  ">
      <div class="card-body shadow-sm ">
        <h6 class="card-title cardheader" style="color: #73879C;">Número de Proyectos Presupuesto Participativo</h6>
        <h6 id="Proyectos_pp" style="color: rgb(17, 160, 41);" class="card-text total"> <b></b></h6>
      </div>
    </div>
    <div class="col-md-3 mt-4  ">
      <div class="card-body shadow-sm ">
        <h6 class="card-title cardheader" style="color: #73879C;">Número de Proyectos Saldos no ejecutables</h6>
        <h6 id="saldos_no_exec" style="color: rgb(17, 160, 41);"  class="card-text total"> <b></b></h6>
      </div>
    </div>
    <div class="col-md-3 mt-4  ">
      <div class="card-body shadow-sm ">
        <h6 class="card-title cardheader" style="color: #73879C;">Número de Proyectos Ejecución saldos pendientes</h6>
        <h6 id="saldos_pendientes" style="color: rgb(17, 160, 41);"  class="card-text total"> <b></b></h6>
      </div>
    </div>
  </div>
</div>
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<div class="card text-center shadow mt-2 mb-1">
  <div class="row">
    <div class="col-md-3 mt-4  ">
      <div class="card-body shadow-sm ">
        <h6 class="card-title cardheader" style="color: #73879C;">Inversión Localizada</h6>
        <h6 id="localizada"  style="color: rgb(17, 160, 41);"  class="card-text total"> <b></b></h6>
      </div>
    </div>
    <div class="col-md-3 mt-4  ">
      <div class="card-body shadow-sm ">
        <h6 class="card-title cardheader" style="color: #73879C;">Presupuesto Participativo</h6>
        <h6 id="pp" style="color: rgb(17, 160, 41);"  class="card-text total"> <b></b></h6>
      </div>
    </div>
    <div class="col-md-3 mt-4  ">
      <div class="card-body shadow-sm ">
        <h6 class="card-title cardheader" style="color: #73879C;">Inversión de Ciudad</h6>
        <h6 id="ciudad" style="color: rgb(17, 160, 41);"  class="card-text total"> <b></b></h6>
      </div>
    </div>
    <div class="col-md-3 mt-4  ">
      <div class="card-body shadow-sm ">
        <h6 class="card-title cardheader" style="color: #73879C;">Fortalecimiento Institucional</h6>
        <h6 id="fortinst" style="color: rgb(17, 160, 41);"  class="card-text total"> <b></b></h6>
      </div>
    </div>
  </div>
</div>
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
     <!--gráfica inversión por territorio -->
<div class="card  shadow-sm p-3 mb-1 bg-white rounded text-center mt-2 mb-2">
    <div class="card ">
      <div class="card-body " id="chart-geo-dep" style="width: 100%; height: 400px;"></div>
    </div>
  </div>

  


<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <div class="card border-light shadow-sm p-3 mb-3 bg-white rounded">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-dismissible fade show" style="background-color: #fd7e14 ; color: white;"     role="alert">
          <strong>1. Proyectos de Iniciativa Institucional</strong> 
        </div>
      </div>
      <div class="col-md-12">
      <table class="table table-sm table-responsive-sm  table-bordered table-hover" width="1371" style="font-size: small;">
        <thead class="thead-inverse" style="background: rgb(178,177,167);">
           <tr>
             <th>Cod</th>
             <th>Proyecto</th>
             <th  style="text-align: center;">Eficacia</th>
             <th style="text-align: center;">Ejec. Financiera</th>
             <th style="text-align: center;">Eficiencia</th>
             <th style="text-align: center;">Ppto Inicial</th>
             <th style="text-align: center;">Ppto Ajustado</th>
             <th style="text-align: center;">Ejec. Financiera</th>
             <th style="text-align: center;">+</th>
           </tr>
           </thead>
           <tbody id="p_tipo1"></tbody>
       </table>
     </div>
     <div class="col-md-12">
      <div class="alert alert-dismissible fade show" style="background-color: rgb(223,123,53); color: white;"     role="alert">
        <strong>2. Proyectos de Presupuesto Participativo (Iniciativas Comunitarias)</strong> 
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-sm table-responsive-sm  table-bordered table-hover" width="1371" style="font-size: small;">
         <thead class="thead-inverse" style="background: rgb(178,177,167);">
           <tr>
            <th>Cod</th>
             <th>Proyecto</th>
             <th  style="text-align: center;">Eficacia</th>
             <th style="text-align: center;">Ejec. Financiera</th>
             <th style="text-align: center;">Eficiencia</th>
             <th style="text-align: center;">Ppto Inicial</th>
             <th style="text-align: center;">Ppto Ajustado</th>
             <th style="text-align: center;">Ejec. Financiera</th>
             <th style="text-align: center;">+</th>
           </tr>
           </tr>
           </thead>
           <tbody id="p_tipo2"></tbody>
       </table>
     </div>
    <div class="col-md-12">
      <div class="alert alert-dismissible fade show" style="background-color: rgb(223,123,53); color: white;"     role="alert">
        <strong>3. Proyectos con saldos no Ejecutables</strong> 
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-sm table-responsive-sm  table-bordered table-hover" width="1371" style="font-size: small;">
        <thead class="thead-inverse" style="background: rgb(178,177,167);">
           <tr>
            <th>Cod</th>
            <th>Proyecto</th>
            <th  style="text-align: center;">Eficacia</th>
            <th style="text-align: center;">Ejec. Financiera</th>
            <th style="text-align: center;">Eficiencia</th>
            <th style="text-align: center;">Ppto Inicial</th>
            <th style="text-align: center;">Ppto Ajustado</th>
            <th style="text-align: center;">Ejec. Financiera</th>
            <th style="text-align: center;">+</th>
          </tr>
           </tr>
           </thead>
           <tbody id="p_tipo3"></tbody>
       </table>
     </div>
    <div class="col-md-12">
      <div class="alert alert-dismissible fade show" style="background-color: rgb(223,123,53); color: white;"     role="alert">
        <strong>4. Proyectos con ejecución de saldos Pendientes (Vigencia Anterior)</strong> 
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-sm table-responsive-sm  table-bordered table-hover" width="1371" style="font-size: small;">
        <thead class="thead-inverse" style="background: rgb(178,177,167);">
          <th>Cod</th>
          <th>Proyecto</th>
          <th  style="text-align: center;">Eficacia</th>
          <th style="text-align: center;">Ejec. Financiera</th>
          <th style="text-align: center;">Eficiencia</th>
          <th style="text-align: center;">Ppto Inicial</th>
          <th style="text-align: center;">Ppto Ajustado</th>
          <th style="text-align: center;">Ejec. Financiera</th>
          <th style="text-align: center;">+</th>
        </tr>
           </thead>
           <tbody id="p_tipo4"></tbody>
       </table>
     </div>
    </div>
  </div>
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
</div>
          
  <div class="card-body ">
    <div class="col-12 col-12-mobilep form-group input-group justify-content-center" role="group">
      <button type="button" class="btn btn-outline-info mr-2" ><i class="fa fa-sellsy fa-1x" style="width: 20px; height: 20px;"></i></button>
      <button type="button" class="btn btn-outline-danger mr-2"> <i class="fa fa-file-pdf-o fa-1x" style="width: 20px; height: 20px;"></i></button>
      <button type="button" class="btn btn-outline-success mr-2"><i class="fa fa-file-excel-o fa-1x" style="width: 20px; height: 20px;" aria-hidden="true"></i></button>   
    </div>
  </div>



<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Modal valstat
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->



  <div class="modal fade bd-example-modal " id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SSE-PDM</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
        <div class="form-row">
          <div class="col-md-12"><h3>Descripción del avance</h3><span id="cod" ></span></div>
          <div class="col-md-12">  <h3>Ejecución :<span id="ejec"> </span></h3> </div>
          <div class="col-md-12">
            <table class="table table-sm table-responsive-sm  table-bordered "  style="font-size: small;">
              <tbody id="valStat">
             </tbody>
            </table>
          </div>
          
          <div class="col-md-12">
            <div class="mt-lg-3" id="chart-geoproyect" style="height: 250px;  width:100%;"></div>
          </div>
        </div>
        
      </div>
    </div>
    </div>
  </div>

<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Modal semaforo
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<div class="modal fade bd-example-modal " id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span> <h4  class="modal-title" id="nom_depencia_query"></h4> </span> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="form-row">
          <div class="col-md-12"> </div>
          <div class="col-md-12">
            <table class="table table-sm table-responsive-sm  table-bordered "  style="font-size: small;">
              <thead>
                <tr style="background-color:gray ;">
               
                  <th style="text-align: center;">Cod_Línea</th>
                  <th style="text-align: center;">Cod_Componente</th>
                  <th style="text-align: center;">Cod_Programa</th>
                  <th style="text-align: center;">Cod_Indicador</th>
                  <th style="text-align: center;">Indicador</th>
                  <th style="text-align: center;">Unidad</th>
                  <th style="text-align: center;">FC</th>
                  <th style="text-align: center;">Sentido</th>
                  <th style="text-align: center;">Avance</th>
                  <th style="text-align: center;">Observaciones</th>
                  <th style="text-align: center;">Estado</th>
                </tr>
              </thead>
              <tbody id="tablaSemaforo">
             </tbody>
            </table>
          </div>
          <div class="col-md-12"></div>
        </div>
     </div>

  </div>
  </div>
</div>


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
</body>
  <%- include ('../partials/scriptsHome.html')%>
  <script src="/js/htmltoexcel.js"></script>
  <script src="/graph/depGraphs.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
</html>



