
<html lang="en">

<%- include ('../partials/head.html') %>
<link rel="stylesheet" href="css/the-big-picture.css">
<body >
  <!-- Navigation -->
 <%- include ('../partials/navigation.html')%>


  <!-- Page Content -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h1 style=" color:yellow" class="mt-5">geoInverApp</h1>
          <p style="text-align:justify; font-family: 'Merriweather', serif;font-size:large;">
            La georreferenciación de la Inversión pública, es uno de los instrumentos mediante el cual se realiza el seguimiento al Plan de Desarrollo Municipal, mediante el cual se muestra la ubicación de la inversión social en cada una de las subdivisiones territoriales, teniendo en consideración que dentro de la división político administrativa de Colombia emanada de la Constitución Nacional, el Municipio de Medellín como ente territorial, cuenta con una composición urbana de 16 Comunas y su territorio rural lo conforman 5 corregimientos.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Bootstrap core JavaScript -->
</body>
<%- include ('../partials/scriptsHome.html') %>
</html>
