
<html lang="en">

<%- include ('../partials/head.html') %>
<link rel="stylesheet" href="css/the-big-picture.css">
<link rel="stylesheet" href="css/prueba.css">


<body >
  <!-- Navigation -->
 <%- include ('../partials/navigation.html')%>


  <!-- Page Content -->
  <section>
   

    <section class="hero-unit container">
      <div class="row">
        <div class="large-12 columns">
          <hgroup>
            <h1>Portal de consulta del Plan Indicativo</h1>
            <h3>Portal Monitoreo Indicadores del Plan de Desarrollo 2020-2023</h3>
          
          </hgroup>
    
    
          <ul class="small-block-grid-2 medium-block-grid-4 flip-cards">
            <li ontouchstart="this.classList.toggle('hover');">
              <div class="large button card-front">
                <a href="/linea-1" style="font-size:18px;">Reactivación Económica y Valle del Software</a>
                <i class="fa fa-sellsy card-icon"></i>
              </div>
              <div class="panel card-back">
                <i class="fa fa-sellsy card-icon"></i>
                <div class="hub-info">
                  <a href="http://localhost:5000/cuatrienios" style="font-size:12px;">Reactivación Económica y Valle del Software</a>
                  <p style="font-size: small;">Find coding gists, cheatsheets, plugins, themes, resources, and tutorials.</p>
                </div>
                <small class="clear">
                  <a href="/linea-1" class="btn btn-outline-success btn-sm">Ingresar</a>
                </small>
              
              </div>
            </li>
    
            <li ontouchstart="this.classList.toggle('hover');">
              <div class="large button card-front">
                <a href="/linea-2" style="font-size:18px;">Transformación Educativa y Cultural</a>
                <i class="fa fa-pencil-square-o card-icon"></i>
              </div>
    
              <div class="panel card-back">
                <i class="fa fa-pencil-square-o card-icon"></i>
                <div class="hub-info">
                  <a href="#" style="font-size:18px;">Transformación Educativa y Cultural</a>
                  <p>Take a look at my graphic design portfolio and contact me for design work.</p>
                </div>
                <small class="clear">
                  <a href="/linea-2" class="btn btn-outline-success btn-sm">Ingresar</a>
                </small>
              </div>
            </li>
    
            <li ontouchstart="this.classList.toggle('hover');">
              <div class="large button card-front">
                <a href="/linea-3" style="font-size:18px;">Medellín me Cuida</a>
                <i class="fa fa-paper-plane-o card-icon"></i>
              </div>
    
              <div class="panel card-back">
                <i class="fa fa-paper-plane-o card-icon"></i>
                <div class="hub-info">
                  <a href="#" style="font-size:18px;">Medellín me Cuida</a>
                  <p>Join classes about Computers, Technology, Coding, Design, and Language Learning.</p>
                </div>
                <small class="clear">
                  <a href="/linea-3" class="btn btn-outline-success btn-sm">Ingresar</a>
                </small>
              </div>
            </li>
            <li ontouchstart="this.classList.toggle('hover');">
              <div class="large button card-front">
                <a href="/linea-4" style="font-size:18px;">Ecociudad </a>
                <i class="fa fa-leaf card-icon"></i>
              </div>
    
              <div class="panel card-back">
                <i class="fa fa-leaf card-icon"></i>
                <div class="hub-info">
                  <a href="#" style="font-size:18px;">Ecociudad</a>
                  <p>Listen to sermon podcasts or download church graphic design resources.</p>
                </div>
                <small class="clear">
                  <a href="/linea-4" class="btn btn-outline-success btn-sm">Ingresar</a>
                </small>
              </div>
            </li>
            <li ontouchstart="this.classList.toggle('hover');">
              <div class="large button card-front">
                <a href="/linea-5" style="font-size:18px;">Gobernanza y Gobernabilidad</a>
                <i class="fa fa-map-o card-icon"></i>
              </div>
    
              <div class="panel card-back">
                <i class="fa fa-map-o card-icon"></i>
                <div class="hub-info">
                  <a href="#" style="font-size:18px;">Gobernanza y Gobernabilidad</a>
                  <p>Find resources about business, family, exercise, and other various topics.</p>
                </div>
                <small class="clear">
                  <a href="/linea-5" class="btn btn-outline-success btn-sm">Ingresar</a>
                </small>
              </div>
            </li>
    
            <li ontouchstart="this.classList.toggle('hover');">
              <div class="large button card-front">
                <a href="/dash" style="font-size:18px;">Tablero de Control</a>
                <i class="fa fa-tachometer  card-icon"></i>
              </div>
    
              <div class="panel card-back">
                <i class="fa fa-tachometer  card-icon"></i>
                <div class="hub-info">
                  <a href="/dash" style="font-size:18px;">Dashboard</a>
                  <p>Find resources about business, family, exercise, and other various topics.</p>
                </div>
                <small class="clear">
                  <a href="/dash" class="btn btn-outline-success btn-sm">Ingresar</a>
                </small>
              </div>
            </li>
    
    
            
    
          </ul>
        </div>
    

    
      </div>
    </section>
  </section>
  <!-- Bootstrap core JavaScript -->
  <!-- Top Menu bar Navigation -->

<!-- Hero Unit -->

</body>
<%- include ('../partials/scriptsHome.html') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
</html>
