
<html lang="en">

<%- include ('../partials/head.html') %>
<link rel="stylesheet" href="css/the-big-picture.css">
<body >
  <!-- Navigation -->
 <%- include ('../partials/navigation.html')%>


  <!-- Page Content -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h1 class="mt-5">geoApp</h1>
          <p>
            Instrumento de consulta de la Inversión Pública en las Comunas y Corregimientos del  Municipio de Medellín
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Bootstrap core JavaScript -->
</body>
<%- include ('../partials/scriptsHome.html') %>
</html>
